<div class="col-lg-12">
  <div class="card-header">
    <strong><i class="fa fa-bars"></i>&nbsp;Master Data Work Day</strong>
  </div>
  <div class="card">
    <div class="card-body d-flex">
      <!-- Calendar Table -->
      <div class="calendar-table">
        <div class="navigation d-flex justify-content-between align-items-center mb-3">
          <button type="button" class="btn btn-primary" (click)="previousMonth()">Previous</button>
          <div  align="center" class="mx-auto" style="min-width: 250px;max-width: 250px;">
            <strong>{{ calendar.year }} - {{ monthNames[calendar.month - 1] }}</strong>
          </div>
          <button type="button" class="btn btn-primary" (click)="nextMonth()">Next</button>
        </div>        
        <table class="table table-bordered table-striped table-sm">
          <thead align="center">
            <tr>
              <th>M</th>
              <th>S</th>
              <th>S</th>
              <th>R</th>
              <th>K</th>
              <th>J</th>
              <th>S</th>
            </tr>
          </thead>
          <tbody align="center"> 
            <tr *ngFor="let week of calendar.days; let i = index">
              <td *ngFor="let day of week" 
              [ngStyle]="{
                  'background-color': isWeekend() ? 'red' : 'inherit', 
                  'color': isWeekend() ? 'white' : 'inherit'
              }" 
              [ngClass]="{ 'selected': day.days === selectedDay.days && day.month=== selectedDay.month }" 
              (click)="day.days !== 0 ? selectDay(day) : null">
            {{ day.days }}
            <div *ngFor="let event of getEventsForDay(day.days)">{{ event.title }}</div>
          </td>               
            </tr>
          </tbody>
        </table>
      </div>

      <!-- Detail Section -->
      <div class="event-details ml-4">
        <h3>Event Details</h3>
        <div *ngIf="selectedDay.days !== null">
          <h4>Details for {{ selectedDay.days }} - {{ monthNames[selectedDay.month - 1] }}</h4>
          <div *ngFor="let event of getEventsForDay(selectedDay)">
            <tabset>
              <tab heading="Home">
                1. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </tab>
              <tab heading="Profile">
                2. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </tab>
              <tab heading="Messages">
                3. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </tab>
            </tabset>
          </div>
        </div>
        <div *ngIf="!selectedDay">
          <p>Please select a day to see event details.</p>
        </div>
      </div>
    </div>
  </div>
</div>
