<div class="col-lg-12">
  <div class="card-header">
    <strong><i class="fa fa-bars"></i>&nbsp;Master Data Work Day</strong>
  </div>
  <div class="card">
    <div class="card-body d-flex">
      <!-- Calendar Table -->
      <div class="calendar-table" style="min-width: 50%;">
        <div class="navigation d-flex justify-content-between align-items-center mb-3">
          <button type="button" class="btn btn-primary" (click)="previousMonth()">Previous</button>
          <div  align="center" class="mx-auto" style="min-width: 250px;max-width: 250px;">
            <strong>{{ calendar.year }} - {{ monthNames[calendar.month - 1] }}</strong>
          </div>
          <button type="button" class="btn btn-primary" (click)="nextMonth()">Next</button>
        </div>        
        <table class="table table-bordered table-striped table-md">
          <thead align="center">
            <tr>
              <th>Mo</th>
              <th>Tu</th>
              <th>We</th>
              <th>Th</th>
              <th>Fr</th>
              <th>Sa</th>
              <th>Su</th>
            </tr>
          </thead>
          <tbody align="center" *ngIf="readytoload"> 
            <tr *ngFor="let week of calendar.days; let i = index">
              <td *ngFor="let day of week" 
              [ngStyle]="{
                'background-color': 
                  (day.detail.off === 1  && day.weekend && day.detail.off === 1 && day.detail.iwd_SHIFT_1 === 0 && day.detail.iwd_SHIFT_2 === 0 && day.detail.iwd_SHIFT_3 === 0 && day.detail.iot_TL_1 === 0 && day.detail.iot_TL_2 === 0 && day.detail.iot_TL_3 === 0 && day.detail.iot_TT_1 === 0 && day.detail.iot_TT_2 === 0 && day.detail.iot_TT_3 === 0) ? 'red' : 
                  (day.detail.off === 1 || day.detail.semi_OFF === 1) && (day.detail.iot_TL_1 === 1 || day.detail.iot_TL_2 === 1 || day.detail.iot_TL_3 === 1 || day.detail.iot_TT_1 === 1 || day.detail.iot_TT_2 === 1 || day.detail.iot_TT_3 === 1)  ? 'rgb(76,199,180)' : 
                  (day.detail.off === 1 && day.detail.semi_OFF === 0 && day.detail.iwd_SHIFT_1 === 0 && day.detail.iwd_SHIFT_2 === 0 && day.detail.iwd_SHIFT_3 === 0 && day.detail.iot_TL_1 === 0 && day.detail.iot_TL_2 === 0 && day.detail.iot_TL_3 === 0 && day.detail.iot_TT_1 === 0 && day.detail.iot_TT_2 === 0 && day.detail.iot_TT_3 === 0)  ? 'red' : 
                  day.detail.semi_OFF === 1 ? 'yellow' : 'inherit', 
                'color': 
                (day.detail.off === 1  && day.weekend && day.detail.off === 1 && day.detail.iwd_SHIFT_1 === 0 && day.detail.iwd_SHIFT_2 === 0 && day.detail.iwd_SHIFT_3 === 0 && day.detail.iot_TL_1 === 0 && day.detail.iot_TL_2 === 0 && day.detail.iot_TL_3 === 0 && day.detail.iot_TT_1 === 0 && day.detail.iot_TT_2 === 0 && day.detail.iot_TT_3 === 0) || (day.detail.off === 1 && day.detail.semi_OFF === 0 && day.detail.iwd_SHIFT_1 === 0 && day.detail.iwd_SHIFT_2 === 0 && day.detail.iwd_SHIFT_3 === 0 && day.detail.iot_TL_1 === 0 && day.detail.iot_TL_2 === 0 && day.detail.iot_TL_3 === 0 && day.detail.iot_TT_1 === 0 && day.detail.iot_TT_2 === 0 && day.detail.iot_TT_3 === 0)   ? 'white':  'inherit'
              }" 
              [ngClass]="{ 'selected': day.days === selectedDay.days && day.month=== selectedDay.month  }" 
              (click)="selectDay(day)" >
            {{ day.days }}
            <div *ngFor="let event of getEventsForDay(day.days)">{{ event.title }}</div>
          </td>               
            </tr>
          </tbody>
        </table>
        <div class="d-flex justify-content-center mb-2">
          <div class="legend-item d-flex align-items-center mx-3 ">
            <div class="legend-color" style="width: 15px; height: 15px; background-color: red; margin-right: 5px;"></div>
            <span>Off</span>
          </div>
          <div class="legend-item d-flex align-items-center mx-3 ">
            <div class="legend-color" style="width: 15px; height: 15px; background-color: rgb(76,199,180); margin-right: 5px;"></div>
            <span>Overtime</span>
          </div>
          <div class="legend-item d-flex align-items-center mx-3 ">
            <div class="legend-color" style="width: 15px; height: 15px; background-color: yellow; margin-right: 5px;"></div>
            <span>Semi-Off</span>
          </div>
        </div>
      </div>
      <!-- <h2 style="min-width: 48%; padding-left: 16px;" *ngIf="selectedDay.days === null">Please Select Date</h2> -->
      <h2 style="min-width: 48%; padding-left: 21px;" *ngIf="selectedDay.days === null">Please Select Date</h2>

      <!-- Detail Section -->
      <div class="event-details ml-4 "style="min-width: 48%;">
        <div *ngIf="selectedDay.days !== null" >
        <h3>{{title}}</h3>
          <h4>Details for {{newEvent.title}} </h4>
          <tabset #tabset>
      
            <!-- Tab 1: Summary -->
            <tab heading="Summary">
              <div *ngIf="!weekend && !overTimeSwitch">
                <h4>Reason of deactive shift</h4>
                <ul>
                  <li>Shift 3: {{ shift1Reasons[0] ? shift1Reasons[0].description : '-' }}</li>
                  <li>Shift 1: {{ shift1Reasons[1] ? shift1Reasons[1].description : '-' }}</li>
                  <li>Shift 2: {{ shift1Reasons[2] ? shift1Reasons[2].description : '-' }}</li>
                </ul>
              </div>
              <div *ngIf="weekend || overTimeSwitch">
                <h4>Reason of deactive shift of TT</h4>
                <ul>
                  <li>Shift 3: {{ ttReasons[0] ? ttReasons[0].description : '-' }}</li>
                  <li>Shift 1: {{ ttReasons[1] ? ttReasons[1].description : '-' }}</li>
                  <li>Shift 2: {{ ttReasons[2] ? ttReasons[2].description : '-' }}</li>
                </ul>                
                <h4>Reason of deactive shift of TL</h4>
                <ul>
                  <li>Shift 3: {{ tlReasons[0] ? tlReasons[0].description : '-' }}</li>
                  <li>Shift 1: {{ tlReasons[1] ? tlReasons[1].description : '-' }}</li>
                  <li>Shift 2: {{ tlReasons[2] ? tlReasons[2].description : '-' }}</li>
                </ul>
              </div>
              
            </tab>
      
            <!-- Tab 2: Shift -->
            <tab heading="Shift">
              <div class="form-group">
                <!-- OverTime Switch -->
                <div class="form-group d-flex">
                  <div class="mx-3">
                      <button type="button" class="btn btn-primary " [disabled]="overTimeSwitch" (click)="overtimeOn()">OverTime</button>
                  </div>
                  <div class="mx-3">
                      <button type="button" class="btn btn-primary " (click)="OffWorkday()">Off</button>
                  </div>
                  <div class="mx-3">
                      <button type="button" class="btn btn-primary " (click)="OnWorkday()">On</button>
                  </div>
                </div>
                

                <!-- Shift 3 -->
                <div class="form-group" *ngIf="!weekend">
                  <div class="per-hour-wrapper">
                    <h4 style="min-width: 70px;">Shift 3</h4>
                    <label class="switch switch-label switch-primary">
                      <input type="checkbox" class="switch-input" [(ngModel)]="shift1Switches[0]" (ngModelChange)="handleShiftChange(0,'SHIFT 3')" [disabled]="overTimeSwitch">
                      <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
                    </label>
                    <div *ngIf="isReasonRequired(shift1Switches[0]) && !overTimeSwitch">
                      <input #reasonInput type="text" placeholder="Reason" class="form-control" [(ngModel)]="shift1Reasons[0].description" (keydown.enter)="handleReasonSaveUpdateDelete(shift1Reasons[0],reasonInput)" required >
                    </div>
                  </div>
                </div>
            
                <!-- Shift 1 -->
                <div class="form-group" *ngIf="!weekend">
                  <div class="per-hour-wrapper">
                    <h4 style="min-width: 70px;">Shift 1</h4>
                    <label class="switch switch-label switch-primary">
                      <input type="checkbox" class="switch-input" [(ngModel)]="shift1Switches[1]" (ngModelChange)="handleShiftChange(1,'SHIFT 1')" [disabled]="overTimeSwitch">
                      <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
                    </label>
                    <div *ngIf="isReasonRequired(shift1Switches[1]) && !overTimeSwitch">
                      <input #reasonInput type="text" placeholder="Reason" class="form-control" [(ngModel)]="shift1Reasons[1].description" (keydown.enter)="handleReasonSaveUpdateDelete(shift1Reasons[1],reasonInput)" required >
                    </div>
                  </div>
                </div>
            
                <!-- Shift 2 -->
                <div class="form-group" *ngIf="!weekend">
                  <div class="per-hour-wrapper">
                    <h4 style="min-width: 70px;">Shift 2</h4>
                    <label class="switch switch-label switch-primary">
                      <input type="checkbox" class="switch-input" [(ngModel)]="shift1Switches[2]" (ngModelChange)="handleShiftChange(2, 'SHIFT 2')" [disabled]="overTimeSwitch">
                      <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
                    </label>
                    <div *ngIf="isReasonRequired(shift1Switches[2]) && !overTimeSwitch">
                      <input #reasonInput type="text" placeholder="Reason" class="form-control" [(ngModel)]="shift1Reasons[2].description" (keydown.enter)="handleReasonSaveUpdateDelete(shift1Reasons[2],reasonInput)" required >
                    </div>
                  </div>
                </div>
                                  
              </div>
              <tabset>
                <tab *ngIf="overTimeSwitch" heading="TT">
                  <div class="form-group">

                    <!-- TT Shift 3 -->
                    <div class="form-group">
                      <div class="per-hour-wrapper">
                        <h4 style="min-width: 70px;">Shift 3</h4>
                        <label class="switch switch-label switch-primary">
                          <input type="checkbox" class="switch-input" [(ngModel)]="ttSwitches[0]" (ngModelChange)="handleShiftChangeTT(0)">
                          <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
                        </label>
                        <div *ngIf="isReasonRequired(ttSwitches[0])">
                          <input #reasonInput type="text" placeholder="Reason" class="form-control"  [(ngModel)]="ttReasons[0].description" (keydown.enter)="handleReasonSaveUpdateDelete(ttReasons[0],reasonInput)" required>
                        </div>
                      </div>
                    </div>

                    <!-- TT Shift 1 -->
                    <div class="form-group">
                      <div class="per-hour-wrapper">
                        <h4 style="min-width: 70px;">Shift 1</h4>
                        <label class="switch switch-label switch-primary">
                          <input type="checkbox" class="switch-input" [(ngModel)]="ttSwitches[1]" (ngModelChange)="handleShiftChangeTT(1)">
                          <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
                        </label>
                        <div *ngIf="isReasonRequired(ttSwitches[1])">
                          <input #reasonInput type="text" placeholder="Reason" class="form-control" [(ngModel)]="ttReasons[1].description" (keydown.enter)="handleReasonSaveUpdateDelete(ttReasons[1],reasonInput)" required>
                        </div>
                      </div>
                    </div>
                
                    <!-- TT Shift 2 -->
                    <div class="form-group">
                      <div class="per-hour-wrapper">
                        <h4 style="min-width: 70px;">Shift 2</h4>
                        <label class="switch switch-label switch-primary">
                          <input type="checkbox" class="switch-input" [(ngModel)]="ttSwitches[2]" (ngModelChange)="handleShiftChangeTT(2)">
                          <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
                        </label>
                        <div *ngIf="isReasonRequired(ttSwitches[2])">
                          <input #reasonInput type="text" placeholder="Reason" class="form-control" [(ngModel)]="ttReasons[2].description" (keydown.enter)="handleReasonSaveUpdateDelete(ttReasons[2],reasonInput)" required>
                        </div>
                      </div>
                    </div>

                  </div>
                </tab>
                
                <tab *ngIf="overTimeSwitch" heading="TL">
                  <div class="form-group">
                    <!-- TL Shift 3 -->
                    <div class="form-group">
                      <div class="per-hour-wrapper">
                        <h4 style="min-width: 70px;">Shift 3</h4>
                        <label class="switch switch-label switch-primary">
                          <input type="checkbox" class="switch-input" [(ngModel)]="tlSwitches[0]" (ngModelChange)="handleShiftChangeTL(0)">
                          <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
                        </label>
                        <div *ngIf="isReasonRequired(tlSwitches[0])">
                          <input #reasonInput type="text" placeholder="Reason" class="form-control" [(ngModel)]="tlReasons[0].description"(keydown.enter)="handleReasonSaveUpdateDelete(tlReasons[0],reasonInput)" required>
                        </div>
                      </div>
                    </div>
                    <!-- TL Shift 1 -->
                    <div class="form-group">
                      <div class="per-hour-wrapper">
                        <h4 style="min-width: 70px;">Shift 1</h4>
                        <label class="switch switch-label switch-primary">
                          <input type="checkbox" class="switch-input" [(ngModel)]="tlSwitches[1]" (ngModelChange)="handleShiftChangeTL(1)">
                          <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
                        </label>
                        <div *ngIf="isReasonRequired(tlSwitches[1])">
                          <input #reasonInput type="text" placeholder="Reason" class="form-control" [(ngModel)]="tlReasons[1].description"(keydown.enter)="handleReasonSaveUpdateDelete(tlReasons[1],reasonInput)" required>
                        </div>
                      </div>
                    </div>
                
                    <!-- TL Shift 2 -->
                    <div class="form-group">
                      <div class="per-hour-wrapper">
                        <h4 style="min-width: 70px;">Shift 2</h4>
                        <label class="switch switch-label switch-primary">
                          <input type="checkbox" class="switch-input" [(ngModel)]="tlSwitches[2]" (ngModelChange)="handleShiftChangeTL(2)">
                          <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
                        </label>
                        <div *ngIf="isReasonRequired(tlSwitches[2])">
                          <input #reasonInput type="text" placeholder="Reason" class="form-control" [(ngModel)]="tlReasons[2].description"(keydown.enter)="handleReasonSaveUpdateDelete(tlReasons[2],reasonInput)" required>
                        </div>
                      </div>
                    </div>
                  </div>
                </tab>
              </tabset>              
            </tab>                
            <!-- Tab 3: Per Hour -->
            <tab heading="Per Hour"*ngIf="!overTimeSwitch">
              <div class="form-group per-hour-wrapper">
                <div *ngFor="let group of [0, 1, 2]; let g = index" class="hour-group">
                  <h5>{{shifts[g]}} </h5>
                  <div *ngFor="let i of [].constructor(8); let j = index" class="per-hour-wrapper-item">
                    <div class="form-group">
                      <div class="per-hour-wrapper">
                        <h6>{{ formatHourRange(g * 8 + j) }}</h6>
                        <label class="switch switch-label switch-primary" style="min-width: 10px;">
                          <input type="checkbox" class="switch-input" [(ngModel)]="perHourSwitches[g * 8 + j]" 
                                 (ngModelChange)="updateHours('WD_NORMAL',(g * 8 + j))" 
                                 >
                          <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
                        </label>
                        <!-- Reason input displayed if required -->
                        <div *ngIf="isReasonRequiredPerHour(g * 8 + j)" class="reason-input">
                          <input #reasonInput type="text" placeholder="Reason" class="form-control" 
                                 [(ngModel)]="perHourReasons[g * 8 + j].description" 
                                 (keydown.enter)="handleReasonSaveUpdateDelete(perHourReasons[g * 8 + j], reasonInput)" 
                                 required>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>              
            </tab>
            <tab heading="Per Hour TT"*ngIf="overTimeSwitch">
              <div class="form-group per-hour-wrapper">
                <div *ngFor="let group of [0, 1, 2]; let g = index" class="hour-group">
                  <h5>{{shifts[g]}} </h5>
                  <div *ngFor="let i of [].constructor(8); let j = index" class="per-hour-wrapper-item">
                    <div class="form-group">
                      <div class="per-hour-wrapper">
                        <h6>{{ formatHourRange(g * 8 + j) }}</h6>
                        <label class="switch switch-label switch-primary" style="min-width: 10px;">
                          <input type="checkbox" class="switch-input" [(ngModel)]="ttperHourSwitches[g * 8 + j]" 
                                 (ngModelChange)="updateHours('OT_TT',(g * 8 + j))" 
                                 >
                          <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
                        </label>
                        <!-- Reason input displayed if required -->
                        <div *ngIf="isReasonRequiredTT(g * 8 + j)" class="reason-input">
                          <input #reasonInput type="text" placeholder="Reason" class="form-control" 
                                 [(ngModel)]="ttperHourReasons[g * 8 + j].description" 
                                 (keydown.enter)="handleReasonSaveUpdateDelete(ttperHourReasons[g * 8 + j], reasonInput)" 
                                 required>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </tab>   
            <tab heading="Per Hour TL"*ngIf="overTimeSwitch">
              <div class="form-group per-hour-wrapper">
                <div *ngFor="let group of [0, 1, 2]; let g = index" class="hour-group">
                  <h5>{{shifts[g]}} </h5>
                  <div *ngFor="let i of [].constructor(8); let j = index" class="per-hour-wrapper-item">
                    <div class="form-group">
                      <div class="per-hour-wrapper">
                        <h6>{{ formatHourRange(g * 8 + j) }}</h6>
                        <label class="switch switch-label switch-primary" style="min-width: 10px;">
                          <input type="checkbox" class="switch-input" [(ngModel)]="tlperHourSwitches[g * 8 + j]" 
                                 (ngModelChange)="updateHours('OT_TL',(g * 8 + j))" 
                                 >
                          <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
                        </label>
                        <!-- Reason input displayed if required -->
                        <div *ngIf="isReasonRequiredTL(g * 8 + j)" class="reason-input">
                          <input #reasonInput type="text" placeholder="Reason" class="form-control" 
                                 [(ngModel)]="tlperHourReasons[g * 8 + j].description" 
                                 (keydown.enter)="handleReasonSaveUpdateDelete(tlperHourReasons[g * 8 + j], reasonInput)" 
                                 required>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>              
            </tab>                             
          </tabset>
        </div>
      </div>             
    </div>
  </div>
</div>
