.selected {
    border: 2px solid #007bff; 
    opacity: 0.4; 
}
.navigation div {
    font-size: 1.5rem; /* Adjust the font size as needed */
    font-weight: bold; /* Make it bold */
}
.per-hour-wrapper {
    display: flex;           /* Use flexbox for horizontal layout */
    flex-wrap: wrap;         /* Allow wrapping if there are too many items */
    gap: 10px;               /* Add space between items */
}

.per-hour-wrapper-item {
    flex: 0 0 calc(100%); /* Each item takes up half the width minus the gap */
    box-sizing: border-box;      /* Ensure padding and border are included in width */
}

// .per-hour-item {
// display: flex;
// flex-direction: column;  /* Stack the checkbox and input within each hour block */
// align-items: center;     /* Center items horizontally */
// width: 120px;            /* Set a fixed width for each hour block */
// }

// .reason-input {
// margin-top: 5px;         /* Add some space between the checkbox and the input field */
// }

// .card-body {
// display: flex;
// flex-direction: column;
// align-items: center;
// }
  