<div class="col-lg-12">
  <div class="card">
    <div class="card-header">
      <strong><i class="fa fa-bars"></i>&nbsp;Master Data Product</strong>
    </div>

    <div class="card-body">
      <!-- Wrapper for the input and buttons in one row -->
      <div class="d-flex justify-content-between mb-3">
        <div class="d-flex align-items-center">
          <input type="text" class="form-control col-md-12 col-lg-12" [(ngModel)]="searchText" (input)="onSearchChange()" placeholder="Find here..." />
          <button type="submit" class="btn btn-primary ml-2" (click)="resetSearch()">Reset</button>
        </div>

        <!-- Right side: Download Template and Export Excel buttons -->
        <div>
          <button type="button" class="btn btn-primary ml-2" (click)="downloadTemplate()"><i class="fa fa-download fa-lg"></i> Download Template</button>
          <button type="button" class="btn btn-primary ml-2" (click)="downloadExcel()"><i class="fa fa-download fa-lg"></i> Export Excel</button>
          <button type="button" class="btn btn-success ml-2" data-toggle="modal" data-target="#uploadModal"><i class="fa fa-file-excel-o fa-lg"></i> Upload Excel</button>
        </div>
      </div>

      <!-- Table -->
      <div class="table-responsive">
        <table class="table table-bordered table-striped table-sm" style="table-layout: auto">
          <thead align="center">
            <tr>
              <th style="min-width: 50px">No</th>
              <th style="min-width: 150px">Part Number</th>
              <th style="min-width: 150px">Item Curing</th>
              <th style="min-width: 100px">Pattern ID</th>
              <th style="min-width: 100px">Size ID</th>
              <th style="min-width: 150px">Product Type ID</th>
              <th style="min-width: 100px">Qty Per Rak</th>
              <th style="min-width: 150px">Upper Constant</th>
              <th style="min-width: 150px">Lower Constant</th>
              <th style="min-width: 200px">Ext Description</th>
              <th style="min-width: 100px">Item Ext</th>
              <th style="min-width: 100px">Item Assy</th>
              <th style="min-width: 100px">Wib Tube</th>
              <th style="min-width: 100px">Rim</th>
              <th style="min-width: 200px">Description</th>
              <th style="min-width: 100px">Status</th>
              <th style="min-width: 220px; padding: 10px">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr align="center" *ngFor="let productt of pageOfItems; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ productt.part_NUMBER }}</td>
              <td>{{ productt.item_CURING }}</td>
              <td>{{ productt.pattern_ID }}</td>
              <td>{{ productt.size_ID }}</td>
              <td>{{ productt.product_TYPE_ID }}</td>
              <td>{{ productt.qty_PER_RAK }}</td>
              <td>{{ productt.upper_CONSTANT }}</td>
              <td>{{ productt.lower_CONSTANT }}</td>
              <td>{{ productt.ext_DESCRIPTION }}</td>
              <td>{{ productt.item_EXT }}</td>
              <td>{{ productt.item_ASSY }}</td>
              <td>{{ productt.wib_TUBE }}</td>
              <td>{{ productt.rim }}</td>
              <td>{{ productt.description }}</td>
              <td [ngClass]="{ 'bg-success': productt.status === 1, 'bg-danger': productt.status !== 1 }">
                {{ productt.status === 1 ? 'Active' : 'Deactive' }}
              </td>
              <td>
                <button type="button" class="btn btn-md btn-secondary" (click)="openModalEdit(productt.part_NUMBER)">Update</button>
                <button type="button" class="btn btn-md ml-3" [ngClass]="{ 'btn-danger': productt.status === 1, 'btn-success': productt.status !== 1 }" (click)="productt.status === 1 ? deleteData(productt) : activateData(productt)">
                  {{ productt.status === 1 ? 'Delete' : 'Active' }}
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <!-- Pagination -->
        <nav>
          <ul class="pagination">
            <jw-pagination [items]="products" [pageSize]="pageSize" [maxPages]="totalPages" (changePage)="onChangePage($event)"> </jw-pagination>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>

<!-- Modal edit -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModalLabel">Edit Product</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Form with Reactive Forms -->
        <form [formGroup]="editProductTypeForm">
          <div class="form-group">
            <label for="curing">Curing Item</label>
            <input [(ngModel)]="editProductTypeObject.item_CURING" type="text" class="form-control" id="curing" formControlName="curing" [ngClass]="{ 'is-invalid': editProductTypeForm.get('curing').invalid && editProductTypeForm.get('curing').touched }" />
            <div *ngIf="editProductTypeForm.get('curing').invalid && editProductTypeForm.get('curing').touched" class="invalid-feedback">Curing name is required.</div>
          </div>
          <div class="form-group">
            <label for="pattern">Pattern</label>
            <input [(ngModel)]="editProductTypeObject.pattern_ID" type="text" class="form-control" id="pattern" formControlName="pattern" [ngClass]="{ 'is-invalid': editProductTypeForm.get('pattern').invalid && editProductTypeForm.get('pattern').touched }" />
            <div *ngIf="editProductTypeForm.get('pattern').invalid && editProductTypeForm.get('pattern').touched" class="invalid-feedback">pattern is required.</div>
          </div>
          <div class="form-group">
            <label for="size">Size ID</label>
            <input [(ngModel)]="editProductTypeObject.size_ID" type="text" class="form-control" id="size" formControlName="size" [ngClass]="{ 'is-invalid': editProductTypeForm.get('size').invalid && editProductTypeForm.get('size').touched }" />
            <div *ngIf="editProductTypeForm.get('size').invalid && editProductTypeForm.get('size').touched" class="invalid-feedback">Machine Number is required.</div>
          </div>
          <div class="form-group">
            <label for="productType">Product Type ID</label>
            <input [(ngModel)]="editProductTypeObject.product_TYPE_ID" type="text" class="form-control" id="productType" formControlName="productType" [ngClass]="{ 'is-invalid': editProductTypeForm.get('productType').invalid && editProductTypeForm.get('productType').touched }" />
            <div *ngIf="editProductTypeForm.get('productType').invalid && editProductTypeForm.get('productType').touched" class="invalid-feedback">productType is required.</div>
          </div>
          <div class="form-group">
            <label for="qty">Qty Per Rak</label>
            <input [(ngModel)]="editProductTypeObject.qty_PER_RAK" type="text" class="form-control" id="qty" formControlName="qty" [ngClass]="{ 'is-invalid': editProductTypeForm.get('qty').invalid && editProductTypeForm.get('qty').touched }" />
            <div *ngIf="editProductTypeForm.get('qty').invalid && editProductTypeForm.get('qty').touched" class="invalid-feedback">Qty Per Rak Text is required.</div>
          </div>
          <div class="form-group">
            <label for="upper">Upper Constant</label>
            <input [(ngModel)]="editProductTypeObject.upper_CONSTANT" type="text" class="form-control" id="upper" formControlName="upper" [ngClass]="{ 'is-invalid': editProductTypeForm.get('upper').invalid && editProductTypeForm.get('upper').touched }" />
            <div *ngIf="editProductTypeForm.get('upper').invalid && editProductTypeForm.get('upper').touched" class="invalid-feedback">upper Per Rak Text is required.</div>
          </div>
          <div class="form-group">
            <label for="lower">Lower Constant</label>
            <input [(ngModel)]="editProductTypeObject.lower_CONSTANT" type="text" class="form-control" id="lower" formControlName="lower" [ngClass]="{ 'is-invalid': editProductTypeForm.get('lower').invalid && editProductTypeForm.get('lower').touched }" />
            <div *ngIf="editProductTypeForm.get('lower').invalid && editProductTypeForm.get('lower').touched" class="invalid-feedback">lower Text is required.</div>
          </div>
          <div class="form-group">
            <label for="desc">Ext Description</label>
            <input [(ngModel)]="editProductTypeObject.ext_DESCRIPTION" type="text" class="form-control" id="desc" formControlName="desc" [ngClass]="{ 'is-invalid': editProductTypeForm.get('desc').invalid && editProductTypeForm.get('desc').touched }" />
            <div *ngIf="editProductTypeForm.get('desc').invalid && editProductTypeForm.get('desc').touched" class="invalid-feedback">Ext Description Text is required.</div>
          </div>
          <div class="form-group">
            <label for="itemExt">Item Ext</label>
            <input [(ngModel)]="editProductTypeObject.item_EXT" type="text" class="form-control" id="itemExt" formControlName="itemExt" [ngClass]="{ 'is-invalid': editProductTypeForm.get('itemExt').invalid && editProductTypeForm.get('itemExt').touched }" />
            <div *ngIf="editProductTypeForm.get('itemExt').invalid && editProductTypeForm.get('itemExt').touched" class="invalid-feedback">Item Ext Text is required.</div>
          </div>
          <div class="form-group">
            <label for="itemAssy">Item Assy</label>
            <input [(ngModel)]="editProductTypeObject.item_ASSY" type="itemAssy" class="form-control" id="itemAssy" formControlName="itemAssy" [ngClass]="{ 'is-invalid': editProductTypeForm.get('itemAssy').invalid && editProductTypeForm.get('itemAssy').touched }" />
            <div *ngIf="editProductTypeForm.get('itemAssy').invalid && editProductTypeForm.get('itemAssy').touched" class="invalid-feedback">Item Assy Text is required.</div>
          </div>
          <div class="form-group">
            <label for="wibTube">Wib Tube</label>
            <input [(ngModel)]="editProductTypeObject.wib_TUBE" type="text" class="form-control" id="wibTube" formControlName="wibTube" [ngClass]="{ 'is-invalid': editProductTypeForm.get('wibTube').invalid && editProductTypeForm.get('wibTube').touched }" />
            <div *ngIf="editProductTypeForm.get('wibTube').invalid && editProductTypeForm.get('wibTube').touched" class="invalid-feedback">Wib Tube is required.</div>
          </div>
          <div class="form-group">
            <label for="rim">Rim</label>
            <input [(ngModel)]="editProductTypeObject.rim" type="text" class="form-control" id="rim" formControlName="rim" [ngClass]="{ 'is-invalid': editProductTypeForm.get('rim').invalid && editProductTypeForm.get('rim').touched }" />
            <div *ngIf="editProductTypeForm.get('rim').invalid && editProductTypeForm.get('rim').touched" class="invalid-feedback">Rim Text is required.</div>
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <input [(ngModel)]="editProductTypeObject.description" type="text" class="form-control" id="description" formControlName="description" [ngClass]="{ 'is-invalid': editProductTypeForm.get('description').invalid && editProductTypeForm.get('description').touched }" />
            <div *ngIf="editProductTypeForm.get('description').invalid && editProductTypeForm.get('description').touched" class="invalid-feedback">Description Text is required.</div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" [disabled]="editProductTypeForm.invalid" (click)="updateProduct()">Update Product</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal for Upload Excel -->
<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="uploadModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="uploadModalLabel">Upload Excel File</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="uploadForm">
          <!-- Manual File Input -->
          <div class="form-group mt-3">
            <input type="file" class="form-control-file" id="manualFileInput" accept=".xls,.xlsx" (change)="onFileChange($event)" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-md btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-md btn-primary" id="uploadButton" (click)="uploadFileExcel()">Upload</button>
      </div>
    </div>
  </div>
</div>
