<div class="animated fadeIn">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <strong>&nbsp;Marketing Order</strong>
      </div>
      <div class="card-body">
        <div class="d-flex justify-content-between mb-3">
          <div class="d-flex align-items-center">
            <input type="text" class="form-control col-md-12 col-lg-12" [(ngModel)]="searchText" (input)="onSearchChange()" placeholder="Find here..." />
            <button type="submit" class="btn btn-primary ml-2" (click)="resetSearch()">Reset</button>
          </div>
          <button class="btn btn-success" (click)="navigateToAdd()" id="addButton">Add</button>
        </div>

        <!-- Table -->
        <div class="table-responsive">
          <table class="table table-bordered table-striped table-sm">
            <thead>
              <tr align="center">
                <th class="align-middle">No</th>
                <th class="align-middle" style="min-width: 150px">Marketing Order ID</th>
                <th class="align-middle">Type</th>
                <th class="align-middle" style="min-width: 150px">Date Valid</th>
                <th class="align-middle" style="min-width: 150px">Revision by PPC</th>
                <th class="align-middle" style="min-width: 200px">Revision by Marketing</th>
                <th class="align-middle" style="min-width: 150px">Month 1</th>
                <th class="align-middle" style="min-width: 150px">Month 2</th>
                <th class="align-middle" style="min-width: 150px">Month 3</th>
                <th class="align-middle" style="min-width: 350px">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let mo of pageOfItems; let i = index" align="center">
                <td>{{ i + 1 }}</td>
                <td>{{ mo.moId }}</td>
                <td>{{ mo.type }}</td>
                <td>{{ dateUtil.parseFullDate(mo.dateValid) }}</td>
                <td>{{ mo.revisionPpc }}</td>
                <td>{{ mo.revisionMarketing }}</td>
                <td>{{ dateUtil.parseMonthYear(mo.month0) }}</td>
                <td>{{ dateUtil.parseMonthYear(mo.month1) }}</td>
                <td>{{ dateUtil.parseMonthYear(mo.month2) }}</td>
                <td>
                  <button type="button" class="btn btn-md btn-secondary" (click)="navigateToDetail(mo.moId)">Detail</button>
                  <button type="button" class="btn btn-md btn-primary ml-2" (click)="navigateToEdit(mo.moId)">Revision</button>
                  <button *ngIf="mo.statusFilled === 1" type="button" class="btn btn-md btn-danger ml-2" disabled>Disable</button>
                  <button *ngIf="mo.statusFilled === 2" type="button" class="btn btn-md btn-danger ml-2" (click)="disableMo(mo)">Disable</button>
                  <button *ngIf="mo.statusFilled === 3" type="button" class="btn btn-md btn-warning ml-2" (click)="enableMo(mo)">Enable</button>
                  <button type="button" class="btn btn-md btn-success ml-2" (click)="navigateToEdit(mo.moId)">Print</button>
                </td>
              </tr>
            </tbody>
          </table>
          <!-- Pagination -->
          <nav>
            <ul class="pagination">
              <jw-pagination [items]="marketingOrders" [pageSize]="pageSize" [maxPages]="totalPages" (changePage)="onChangePage($event)"> </jw-pagination>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
