.off-header {
  background-color: red;
  color: white;
}

.overtime-header {
  background-color: green;
  color: white;
}

.hoverable {
  cursor: pointer; /* Mengubah kursor menjadi pointer */
}

.hoverable:hover {
  background-color: #f0f0f0; /* Mengubah warna latar belakang saat hover */
}

