<div class="col-lg-12">
  <div class="card">
    <div class="card-header">
      <strong><i class="fa fa-bars"></i>&nbsp;Master Data Tass Size</strong>
    </div>

    <div class="card-body">
      <!-- Wrapper for the input and buttons in one row -->
      <div class="d-flex justify-content-between mb-3">
        <div class="d-flex align-items-center">
          <input type="text" class="form-control col-md-12 col-lg-12" [(ngModel)]="searchText" (input)="onSearchChange()" placeholder="Find here..." />
          <button type="submit" class="btn btn-primary ml-2" (click)="resetSearch()">Reset</button>
        </div>

        <!-- Right side: Download Template and Export Excel buttons -->
        <div>
          <button type="button" class="btn btn-primary ml-2" (click)="downloadTemplate()"><i class="fa fa-download fa-lg"></i> Download Template</button>
          <button type="button" class="btn btn-success ml-2" data-toggle="modal" data-target="#uploadModal"><i class="fa fa-file-excel-o fa-lg"></i> Upload Excel</button>
        </div>
      </div>

      <!-- Table -->
      <table class="table table-striped">
        <thead>
          <tr>
            <th>No</th>
            <th>Tass Size ID</th>
            <th>Machine Tass Type ID</th>
            <th>Size ID</th>
            <th>Capacity</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tass_sizes of pageOfItems; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ tass_sizes.tassize_ID }}</td>
            <td>{{ tass_sizes.machinetasstype_ID }}</td>
            <td>{{ tass_sizes.size_ID }}</td>
            <td>{{ tass_sizes.capacity }}</td>
            <td>{{ tass_sizes.status === 1 ? 'Active' : 'Deactive' }}</td>
            <td>
              <button type="button" class="btn btn-md btn-secondary" (click)="openModalEdit(tass_sizes.tassize_ID)">Update</button>
              <button type="button" class="btn btn-md btn-danger ml-2" (click)="deleteData(tass_sizes)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
      <!-- Pagination -->
      <nav>
        <ul class="pagination">
          <jw-pagination [items]="tass_sizes" [pageSize]="pageSize" [maxPages]="totalPages" (changePage)="onChangePage($event)"> </jw-pagination>
        </ul>
      </nav>
    </div>
  </div>
</div>

<!-- Modal edit -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModalLabel">Edit Tass Size</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Form with Reactive Forms -->
        <form [formGroup]="editTassSizeForm">
          <div class="form-group">
            <label for="machinetasstype">Machine Tass Type</label>
            <input [(ngModel)]="edtTassSizeObject.machinetasstype_ID" type="text" class="form-control" id="machinetasstype" formControlName="machinetasstype" [ngClass]="{ 'is-invalid': editTassSizeForm.get('machinetasstype').invalid && editTassSizeForm.get('machinetasstype').touched }" />
            <div *ngIf="editTassSizeForm.get('machinetasstype').invalid && editTassSizeForm.get('machinetasstype').touched" class="invalid-feedback">Machine tass type is required.</div>

            <label for="sizeid">Size</label>
            <input [(ngModel)]="edtTassSizeObject.size_ID" type="text" class="form-control" id="sizeid" formControlName="sizeid" [ngClass]="{ 'is-invalid': editTassSizeForm.get('sizeid').invalid && editTassSizeForm.get('sizeid').touched }" />
            <div *ngIf="editTassSizeForm.get('sizeid').invalid && editTassSizeForm.get('sizeid').touched" class="invalid-feedback">Size is required.</div>

            <label for="capacity">Capacity</label>
            <input [(ngModel)]="edtTassSizeObject.capacity" type="text" class="form-control" id="capacity" formControlName="capacity" [ngClass]="{ 'is-invalid': editTassSizeForm.get('capacity').invalid && editTassSizeForm.get('capacity').touched }" />
            <div *ngIf="editTassSizeForm.get('capacity').invalid && editTassSizeForm.get('capacity').touched" class="invalid-feedback">Capacity is required.</div>

          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <!-- Disable Update button if form is invalid -->
        <button type="button" class="btn btn-primary" [disabled]="editTassSizeForm.invalid" (click)="updateTassSize()">Update Tass Size</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal for Upload Excel -->
<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="uploadModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="uploadModalLabel">Upload Excel File</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="uploadForm">
          <!-- Manual File Input -->
          <div class="form-group mt-3">
            <input type="file" class="form-control-file" id="manualFileInput" accept=".xls,.xlsx" (change)="onFileChange($event)" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-md btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-md btn-primary" id="uploadButton" (click)="uploadFileExcel()">Upload</button>
      </div>
    </div>
  </div>
</div>
