<div class="col-lg-12">
  <div class="card">
    <div class="card-header">
      <strong><i class="fa fa-bars"></i>&nbsp;Master Data Item Curing</strong>
    </div>

    <div class="card-body">
      <!-- Wrapper for the input and buttons in one row -->
      <div class="d-flex justify-content-between mb-3">
        <div class="d-flex align-items-center">
          <input type="text" class="form-control col-md-12 col-lg-12" [(ngModel)]="searchText" (input)="onSearchChange()" placeholder="Find here..." />
          <button type="submit" class="btn btn-primary ml-2" (click)="resetSearch()">Reset</button>
        </div>

        <!-- Right side: Download Template and Export Excel buttons -->
        <div>
          <button type="button" class="btn btn-primary ml-2" (click)="downloadTemplate()"><i class="fa fa-download fa-lg"></i> Download Template</button>
          <button type="button" class="btn btn-success ml-2" data-toggle="modal" data-target="#uploadModal"><i class="fa fa-file-excel-o fa-lg"></i> Upload Excel</button>
        </div>
      </div>

      <!-- Table -->
      <table class="table table-striped">
        <thead>
          <tr>
            <th>No</th>
            <th>Item Curing ID</th>
            <th>Machine Type</th>
            <th>Kapa per Mould</th>
            <th>Number of Mould</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let itemcuring of pageOfItems; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ itemcuring.item_CURING }}</td>
            <td>{{ itemcuring.machine_TYPE }}</td>
            <td>{{ itemcuring.kapa_PER_MOULD }}</td>
            <td>{{ itemcuring.number_OF_MOULD }}</td>
            <td>{{ itemcuring.status === 1 ? 'Active' : 'Deactive' }}</td>
            <td>
              <button type="button" class="btn btn-md btn-secondary" (click)="openModalEdit(itemcuring.item_CURING)">Update</button>
              <button type="button" class="btn btn-md btn-danger ml-2" (click)="deleteData(itemcuring)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
      <!-- Pagination -->
      <nav>
        <ul class="pagination">
          <jw-pagination [items]="itemcurings" [pageSize]="pageSize" [maxPages]="totalPages" (changePage)="onChangePage($event)"> </jw-pagination>
        </ul>
      </nav>
    </div>
  </div>
</div>

<!-- Modal edit -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModalLabel">Edit Item Curing</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Form with Reactive Forms -->
        <form [formGroup]="editItemCuringForm">
          <div class="form-group">
            <label for="machineType">Machine Type</label>
            <input [(ngModel)]="edtItemCuringObject.machine_TYPE" type="text" class="form-control" id="machineType" formControlName="machineType" [ngClass]="{ 'is-invalid': editItemCuringForm.get('machineType').invalid && editItemCuringForm.get('machineType').touched }" />
            <div *ngIf="editItemCuringForm.get('machineType').invalid && editItemCuringForm.get('machineType').touched" class="invalid-feedback">Machine type is required.</div>
            
            <label for="kapaPerMould">Kapa per Mould</label>
            <input [(ngModel)]="edtItemCuringObject.kapa_PER_MOULD" type="text" class="form-control" id="kapaPerMould" formControlName="kapaPerMould" [ngClass]="{ 'is-invalid': editItemCuringForm.get('kapaPerMould').invalid && editItemCuringForm.get('kapaPerMould').touched }" />
            <div *ngIf="editItemCuringForm.get('kapaPerMould').invalid && editItemCuringForm.get('kapaPerMould').touched" class="invalid-feedback">Kapa per mould is required.</div>

            <label for="numberOfMould">Number of Mould</label>
            <input [(ngModel)]="edtItemCuringObject.number_OF_MOULD" type="text" class="form-control" id="numberOfMould" formControlName="numberOfMould" [ngClass]="{ 'is-invalid': editItemCuringForm.get('numberOfMould').invalid && editItemCuringForm.get('numberOfMould').touched }" />
            <div *ngIf="editItemCuringForm.get('numberOfMould').invalid && editItemCuringForm.get('numberOfMould').touched" class="invalid-feedback">Number of mould is required.</div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <!-- Disable Update button if form is invalid -->
        <button type="button" class="btn btn-primary" [disabled]="editItemCuringForm.invalid" (click)="updateItemCuring()">Update Item Curing</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal for Upload Excel -->
<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="uploadModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="uploadModalLabel">Upload Excel File</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="uploadForm">
          <!-- Manual File Input -->
          <div class="form-group mt-3">
            <input type="file" class="form-control-file" id="manualFileInput" accept=".xls,.xlsx" (change)="onFileChange($event)" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-md btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-md btn-primary" id="uploadButton" (click)="uploadFileExcel()">Upload</button>
      </div>
    </div>
  </div>
</div>
