<div class="animated fadeIn">
  <!-- Header Marketing Order -->
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <strong>Edit Header Marketing Order</strong>
      </div>
      <div class="card-body">
        <form [formGroup]="formHeaderMo" class="form form-horizontal">
          <div class="form-group row">
            <label class="col-md-3 col-form-label">Date</label>
            <div class="col-md-9">
              <input class="form-control" type="date" formControlName="date" placeholder="date" [readOnly]="isReadOnly" />
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="type">Type</label>
            <div class="col-md-9">
              <input class="form-control" type="text" formControlName="type" placeholder="type" [readOnly]="isReadOnly" />
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-3 col-form-label">Revision</label>
            <div class="col-md-9">
              <input class="form-control" type="text" formControlName="revision" placeholder="1,2,3...." [readOnly]="isReadOnly" />
            </div>
          </div>

          <!-- Tabset -->
          <tabset>
            <tab heading="Month 1">
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="month-input">Month And Year</label>
                <div class="col-md-9">
                  <input class="form-control" formControlName="month_0" type="month" [readOnly]="isReadOnly" />
                </div>
              </div>
              <!-- <div class="form-group row">
                <label class="col-md-3 col-form-label" for="file-input">Upload File</label>
                <div class="col-md-9 d-flex align-items-center">
                  <input class="form-control-file" formControlName="upload_file_m0" type="file" id="file-input" (change)="readExcel_M1($event)" />
                </div>
              </div> -->
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Normal Working Day</label>
                <div class="col-md-9">
                  <input type="number" formControlName="nwd_0" name="text-input" class="form-control" placeholder="0,00" [readOnly]="isReadOnly" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">TL Overtime Working Day</label>
                <div class="col-md-9">
                  <input type="number" formControlName="tl_ot_wd_0" name="text-input" class="form-control" placeholder="0,00" [readOnly]="isReadOnly" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">TT Overtime Working Day</label>
                <div class="col-md-9">
                  <input type="number" formControlName="tt_ot_wd_0" name="text-input" class="form-control" placeholder="0,00" [readOnly]="isReadOnly" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Total TL Tire Working Day</label>
                <div class="col-md-9">
                  <input formControlName="total_tlwd_0" type="number" name="text-input" class="form-control" placeholder="0,00" [readOnly]="isReadOnly" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Total TT Tire Working Day</label>
                <div class="col-md-9">
                  <input formControlName="total_ttwd_0" type="number" name="text-input" class="form-control" placeholder="0,00" [readOnly]="isReadOnly" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Maximum Tube Capacity</label>
                <div class="col-md-9">
                  <input type="number" formControlName="max_tube_capa_0" name="text-input" class="form-control" placeholder="0,00" [readOnly]="isReadOnly" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Maximum Capacity Tire TL</label>
                <div class="col-md-9">
                  <input type="number" formControlName="max_capa_tl_0" name="text-input" class="form-control" placeholder="0,00" [readOnly]="isReadOnly" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Maximum Capacity Tire TT</label>
                <div class="col-md-9">
                  <input type="number" formControlName="max_capa_tt_0" name="text-input" class="form-control" placeholder="0,00" [readOnly]="isReadOnly" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Looping</label>
                <div class="col-md-9">
                  <input type="number" formControlName="looping_m0" name="text-input" class="form-control" placeholder="0,00" [readOnly]="isReadOnly" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Machine Airbag</label>
                <div class="col-md-9">
                  <input type="number" formControlName="machine_airbag_m0" name="text-input" class="form-control" placeholder="0,00" [readOnly]="isReadOnly" />
                </div>
              </div>
              <div class="form-group row" *ngIf="formHeaderMo.get('type')?.value !== 'FDR'">
                <label class="col-md-3 col-form-label" for="text-input">FED TL</label>
                <div class="col-md-9">
                  <input type="number" formControlName="fed_tl_m0" name="text-input" class="form-control" placeholder="0,00" [readOnly]="isReadOnly" />
                </div>
              </div>
              <div class="form-group row" *ngIf="formHeaderMo.get('type')?.value !== 'FED'">
                <label class="col-md-3 col-form-label" for="text-input">FDR TL</label>
                <div class="col-md-9">
                  <input type="number" formControlName="fdr_tl_m0" name="text-input" class="form-control" placeholder="0,00" [readOnly]="isReadOnly" />
                </div>
              </div>
              <div class="form-group row" *ngIf="formHeaderMo.get('type')?.value !== 'FDR'">
                <label class="col-md-3 col-form-label" for="text-input">FED TT</label>
                <div class="col-md-9">
                  <input type="number" formControlName="fed_tt_m0" name="text-input" class="form-control" placeholder="0,00" [readOnly]="isReadOnly" />
                </div>
              </div>
              <div class="form-group row" *ngIf="formHeaderMo.get('type')?.value !== 'FED'">
                <label class="col-md-3 col-form-label" for="text-input">FDR TT</label>
                <div class="col-md-9">
                  <input type="number" formControlName="fdr_tt_m0" name="text-input" class="form-control" placeholder="0,00" [readOnly]="isReadOnly" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Total Marketing Order</label>
                <div class="col-md-9">
                  <input type="number" formControlName="total_mo_m0" name="text-input" class="form-control" placeholder="0,00" [readOnly]="isReadOnly" />
                </div>
              </div>
              <div class="form-group row" *ngIf="formHeaderMo.get('type')?.value !== 'FDR'">
                <label class="col-md-3 col-form-label" for="text-input">% FED TL</label>
                <div class="col-md-9">
                  <input type="number" formControlName="fed_TL_percentage_m0" name="text-input" class="form-control" placeholder="0,00" [readOnly]="isReadOnly" />
                </div>
              </div>
              <div class="form-group row" *ngIf="formHeaderMo.get('type')?.value !== 'FED'">
                <label class="col-md-3 col-form-label" for="text-input">% FDR TL</label>
                <div class="col-md-9">
                  <input type="number" formControlName="fdr_TL_percentage_m0" name="text-input" class="form-control" placeholder="0,00" [readOnly]="isReadOnly" />
                </div>
              </div>
              <div class="form-group row" *ngIf="formHeaderMo.get('type')?.value !== 'FDR'">
                <label class="col-md-3 col-form-label" for="text-input">% FED TT</label>
                <div class="col-md-9">
                  <input type="number" formControlName="fed_TT_percentage_m0" name="text-input" class="form-control" placeholder="0,00" [readOnly]="isReadOnly" />
                </div>
              </div>
              <div class="form-group row" *ngIf="formHeaderMo.get('type')?.value !== 'FED'">
                <label class="col-md-3 col-form-label" for="text-input">% FDR TT</label>
                <div class="col-md-9">
                  <input type="number" formControlName="fdr_TT_percentage_m0" name="text-input" class="form-control" placeholder="0,00" [readOnly]="isReadOnly" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Note Order TL</label>
                <div class="col-md-9">
                  <input type="text" formControlName="note_tl_m0" name="text-input" class="form-control" placeholder="text..." [readOnly]="isReadOnly" />
                </div>
              </div>
            </tab>
            <tab heading="Month 2">
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="month-input">Month And Year</label>
                <div class="col-md-9">
                  <input class="form-control" formControlName="month_1" type="month" [readOnly]="isReadOnly" />
                </div>
              </div>
              <!-- <div class="form-group row">
                <label class="col-md-3 col-form-label" for="file-input">Upload File</label>
                <div class="col-md-9 d-flex align-items-center">
                  <input class="form-control-file" [ngClass]="{ 'is-invalid': formHeaderMo.get('upload_file_m1')?.invalid && formHeaderMo.get('upload_file_m1')?.touched }" formControlName="upload_file_m1" type="file" id="file-input" (change)="readExcel_M2($event)" />
                  <div *ngIf="formHeaderMo.get('upload_file_m1')?.invalid && formHeaderMo.get('upload_file_m1')?.touched" class="invalid-feedback">Upload File is required.</div>
                </div>
              </div> -->
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Normal Working Day</label>
                <div class="col-md-9">
                  <input type="number" formControlName="nwd_1" name="text-input" class="form-control" placeholder="0,00" [readOnly]="isReadOnly" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">TL Overtime Working Day</label>
                <div class="col-md-9">
                  <input type="number" formControlName="tl_ot_wd_1" name="text-input" class="form-control" placeholder="0,00" [readOnly]="isReadOnly" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">TT Overtime Working Day</label>
                <div class="col-md-9">
                  <input type="number" formControlName="tt_ot_wd_1" name="text-input" class="form-control" placeholder="0,00" [readOnly]="isReadOnly" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Total TL Tire Working Day</label>
                <div class="col-md-9">
                  <input formControlName="total_tlwd_1" type="number" name="text-input" class="form-control" placeholder="0,00" [readOnly]="isReadOnly" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Total TT Tire Working Day</label>
                <div class="col-md-9">
                  <input formControlName="total_ttwd_1" type="number" name="text-input" class="form-control" placeholder="0,00" [readOnly]="isReadOnly" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Maximum Tube Capacity</label>
                <div class="col-md-9">
                  <input type="number" formControlName="max_tube_capa_1" name="text-input" class="form-control" placeholder="0,00" [readOnly]="isReadOnly" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Maximum Capacity Tire TL</label>
                <div class="col-md-9">
                  <input type="number" formControlName="max_capa_tl_1" name="text-input" class="form-control" placeholder="0,00" [readOnly]="isReadOnly" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Maximum Capacity Tire TT</label>
                <div class="col-md-9">
                  <input type="number" formControlName="max_capa_tt_1" name="text-input" class="form-control" placeholder="0,00" [readOnly]="isReadOnly" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Looping</label>
                <div class="col-md-9">
                  <input type="number" formControlName="looping_m1" name="text-input" class="form-control" placeholder="0,00" [readOnly]="isReadOnly" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Machine Airbag</label>
                <div class="col-md-9">
                  <input type="number" formControlName="machine_airbag_m1" name="text-input" class="form-control" placeholder="0,00" [readOnly]="isReadOnly" />
                </div>
              </div>
              <div class="form-group row" *ngIf="formHeaderMo.get('type')?.value !== 'FDR'">
                <label class="col-md-3 col-form-label" for="text-input">FED TL</label>
                <div class="col-md-9">
                  <input type="number" formControlName="fed_tl_m1" name="text-input" class="form-control" placeholder="0,00" [readOnly]="isReadOnly" />
                </div>
              </div>
              <div class="form-group row" *ngIf="formHeaderMo.get('type')?.value !== 'FED'">
                <label class="col-md-3 col-form-label" for="text-input">FDR TL</label>
                <div class="col-md-9">
                  <input type="number" formControlName="fdr_tl_m1" name="text-input" class="form-control" placeholder="0,00" [readOnly]="isReadOnly" />
                </div>
              </div>
              <div class="form-group row" *ngIf="formHeaderMo.get('type')?.value !== 'FDR'">
                <label class="col-md-3 col-form-label" for="text-input">FED TT</label>
                <div class="col-md-9">
                  <input type="number" formControlName="fed_tt_m1" name="text-input" class="form-control" placeholder="0,00" [readOnly]="isReadOnly" />
                </div>
              </div>
              <div class="form-group row" *ngIf="formHeaderMo.get('type')?.value !== 'FED'">
                <label class="col-md-3 col-form-label" for="text-input">FDR TT</label>
                <div class="col-md-9">
                  <input type="number" formControlName="fdr_tt_m1" name="text-input" class="form-control" placeholder="0,00" [readOnly]="isReadOnly" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Total Marketing Order</label>
                <div class="col-md-9">
                  <input type="number" formControlName="total_mo_m1" name="text-input" class="form-control" placeholder="0,00" [readOnly]="isReadOnly" />
                </div>
              </div>
              <div class="form-group row" *ngIf="formHeaderMo.get('type')?.value !== 'FDR'">
                <label class="col-md-3 col-form-label" for="text-input">% FED TL</label>
                <div class="col-md-9">
                  <input type="number" formControlName="fed_TL_percentage_m1" name="text-input" class="form-control" placeholder="0,00" [readOnly]="isReadOnly" />
                </div>
              </div>
              <div class="form-group row" *ngIf="formHeaderMo.get('type')?.value !== 'FED'">
                <label class="col-md-3 col-form-label" for="text-input">% FDR TL</label>
                <div class="col-md-9">
                  <input type="number" formControlName="fdr_TL_percentage_m1" name="text-input" class="form-control" placeholder="0,00" [readOnly]="isReadOnly" />
                </div>
              </div>
              <div class="form-group row" *ngIf="formHeaderMo.get('type')?.value !== 'FDR'">
                <label class="col-md-3 col-form-label" for="text-input">% FED TT</label>
                <div class="col-md-9">
                  <input type="number" formControlName="fed_TT_percentage_m1" name="text-input" class="form-control" placeholder="0,00" [readOnly]="isReadOnly" />
                </div>
              </div>
              <div class="form-group row" *ngIf="formHeaderMo.get('type')?.value !== 'FED'">
                <label class="col-md-3 col-form-label" for="text-input">% FDR TT</label>
                <div class="col-md-9">
                  <input type="number" formControlName="fdr_TT_percentage_m1" name="text-input" class="form-control" placeholder="0,00" [readOnly]="isReadOnly" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Note Order TL</label>
                <div class="col-md-9">
                  <input type="text" formControlName="note_tl_m1" name="text-input" class="form-control" placeholder="text..." [readOnly]="isReadOnly" />
                </div>
              </div>
            </tab>
            <tab heading="Month 3">
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="month-input">Month And Year</label>
                <div class="col-md-9">
                  <input class="form-control" formControlName="month_2" type="month" [readOnly]="isReadOnly" />
                </div>
              </div>
              <!-- <div class="form-group row">
                <label class="col-md-3 col-form-label" for="file-input">Upload File</label>
                <div class="col-md-9 d-flex align-items-center">
                  <input class="form-control-file" [ngClass]="{ 'is-invalid': formHeaderMo.get('upload_file_m2')?.invalid && formHeaderMo.get('upload_file_m2')?.touched }" formControlName="upload_file_m2" type="file" id="file-input" (change)="readExcel_M3($event)" />
                  <div *ngIf="formHeaderMo.get('upload_file_m2')?.invalid && formHeaderMo.get('upload_file_m2')?.touched" class="invalid-feedback">Upload File is required.</div>
                </div>
              </div> -->
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Normal Working Day</label>
                <div class="col-md-9">
                  <input type="number" formControlName="nwd_2" name="text-input" class="form-control" placeholder="0,00" [readOnly]="isReadOnly" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">TL Overtime Working Day</label>
                <div class="col-md-9">
                  <input type="number" formControlName="tl_ot_wd_2" name="text-input" class="form-control" placeholder="0,00" [readOnly]="isReadOnly" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">TT Overtime Working Day</label>
                <div class="col-md-9">
                  <input type="number" formControlName="tt_ot_wd_2" name="text-input" class="form-control" placeholder="0,00" [readOnly]="isReadOnly" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Total TL Tire Working Day</label>
                <div class="col-md-9">
                  <input formControlName="total_tlwd_2" type="number" name="text-input" class="form-control" placeholder="0,00" [readOnly]="isReadOnly" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Total TT Tire Working Day</label>
                <div class="col-md-9">
                  <input formControlName="total_ttwd_2" type="number" name="text-input" class="form-control" placeholder="0,00" [readOnly]="isReadOnly" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Maximum Tube Capacity</label>
                <div class="col-md-9">
                  <input type="number" formControlName="max_tube_capa_2" name="text-input" class="form-control" placeholder="0,00" [readOnly]="isReadOnly" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Maximum Capacity Tire TL</label>
                <div class="col-md-9">
                  <input type="number" formControlName="max_capa_tl_2" name="text-input" class="form-control" placeholder="0,00" [readOnly]="isReadOnly" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Maximum Capacity Tire TT</label>
                <div class="col-md-9">
                  <input type="number" formControlName="max_capa_tt_2" name="text-input" class="form-control" placeholder="0,00" [readOnly]="isReadOnly" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Looping</label>
                <div class="col-md-9">
                  <input type="number" formControlName="looping_m2" name="text-input" class="form-control" placeholder="0,00" [readOnly]="isReadOnly" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Machine Airbag</label>
                <div class="col-md-9">
                  <input type="number" formControlName="machine_airbag_m2" name="text-input" class="form-control" placeholder="0,00" [readOnly]="isReadOnly" />
                </div>
              </div>
              <div class="form-group row" *ngIf="formHeaderMo.get('type')?.value !== 'FDR'">
                <label class="col-md-3 col-form-label" for="text-input">FED TL</label>
                <div class="col-md-9">
                  <input type="number" formControlName="fed_tl_m2" name="text-input" class="form-control" placeholder="0,00" [readOnly]="isReadOnly" />
                </div>
              </div>
              <div class="form-group row" *ngIf="formHeaderMo.get('type')?.value !== 'FED'">
                <label class="col-md-3 col-form-label" for="text-input">FDR TL</label>
                <div class="col-md-9">
                  <input type="number" formControlName="fdr_tl_m2" name="text-input" class="form-control" placeholder="0,00" [readOnly]="isReadOnly" />
                </div>
              </div>
              <div class="form-group row" *ngIf="formHeaderMo.get('type')?.value !== 'FDR'">
                <label class="col-md-3 col-form-label" for="text-input">FED TT</label>
                <div class="col-md-9">
                  <input type="number" formControlName="fed_tt_m2" name="text-input" class="form-control" placeholder="0,00" [readOnly]="isReadOnly" />
                </div>
              </div>
              <div class="form-group row" *ngIf="formHeaderMo.get('type')?.value !== 'FED'">
                <label class="col-md-3 col-form-label" for="text-input">FDR TT</label>
                <div class="col-md-9">
                  <input type="number" formControlName="fdr_tt_m2" name="text-input" class="form-control" placeholder="0,00" [readOnly]="isReadOnly" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Total Marketing Order</label>
                <div class="col-md-9">
                  <input type="number" formControlName="total_mo_m2" name="text-input" class="form-control" placeholder="0,00" [readOnly]="isReadOnly" />
                </div>
              </div>
              <div class="form-group row" *ngIf="formHeaderMo.get('type')?.value !== 'FDR'">
                <label class="col-md-3 col-form-label" for="text-input">% FED TL</label>
                <div class="col-md-9">
                  <input type="number" formControlName="fed_TL_percentage_m2" name="text-input" class="form-control" placeholder="0,00" [readOnly]="isReadOnly" />
                </div>
              </div>
              <div class="form-group row" *ngIf="formHeaderMo.get('type')?.value !== 'FED'">
                <label class="col-md-3 col-form-label" for="text-input">% FDR TL</label>
                <div class="col-md-9">
                  <input type="number" formControlName="fdr_TL_percentage_m2" name="text-input" class="form-control" placeholder="0,00" [readOnly]="isReadOnly" />
                </div>
              </div>
              <div class="form-group row" *ngIf="formHeaderMo.get('type')?.value !== 'FDR'">
                <label class="col-md-3 col-form-label" for="text-input">% FED TT</label>
                <div class="col-md-9">
                  <input type="number" formControlName="fed_TT_percentage_m2" name="text-input" class="form-control" placeholder="0,00" [readOnly]="isReadOnly" />
                </div>
              </div>
              <div class="form-group row" *ngIf="formHeaderMo.get('type')?.value !== 'FED'">
                <label class="col-md-3 col-form-label" for="text-input">% FDR TT</label>
                <div class="col-md-9">
                  <input type="number" formControlName="fdr_TT_percentage_m2" name="text-input" class="form-control" placeholder="0,00" [readOnly]="isReadOnly" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Note Order TL</label>
                <div class="col-md-9">
                  <input type="text" formControlName="note_tl_m2" name="text-input" class="form-control" placeholder="text..." [readOnly]="isReadOnly" />
                </div>
              </div>
            </tab>
          </tabset>
        </form>
      </div>
    </div>
  </div>

  <!-- Detail Marketing Order -->
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <strong>Edit Detail Marketing Order</strong>
      </div>
      <div class="card-body">
        <div class="d-flex justify-content-end mb-3">
          <div>
            <button type="button" (click)="downloadTemplate()" class="btn btn-primary ml-2"><i class="fa fa-download fa-lg"></i> Download Template</button>
            <button type="button" class="btn btn-success ml-2" data-toggle="modal" data-target="#uploadModal"><i class="fa fa-file-excel-o fa-lg"></i> Upload Excel</button>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-bordered table-striped table-sm">
            <thead>
              <!-- Head Header -->
              <tr align="center">
                <th rowspan="2" class="align-middle">No</th>
                <th rowspan="2" style="min-width: 150px" class="align-middle">Category</th>
                <th rowspan="2" style="min-width: 150px" class="align-middle">Item</th>
                <th rowspan="2" style="min-width: 350px" class="align-middle">Description</th>
                <th rowspan="2" style="min-width: 120px" class="align-middle">Type Machine</th>
                <th rowspan="2" style="min-width: 150px" class="align-middle">Capacity 99,5%</th>
                <th rowspan="2" style="min-width: 150px" class="align-middle">Quantity Mould</th>
                <th rowspan="2" style="min-width: 150px" class="align-middle">Quantity Per Rak</th>
                <th rowspan="2" style="min-width: 150px" class="align-middle">Minimal Order</th>
                <th colspan="3" style="min-width: 300px" class="align-middle">Maximum Capacity</th>
                <th rowspan="2" style="min-width: 150px" class="align-middle">Initial Stock</th>
                <th colspan="3" style="min-width: 400px" class="align-middle">Sales Forecast</th>
                <th colspan="3" style="min-width: 400px" class="align-middle">Marketing Order</th>
              </tr>

              <!-- Child Header -->
              <tr align="center">
                <th class="align-middle">{{ monthNames[0] || 'Month 1' }}</th>
                <th class="align-middle">{{ monthNames[1] || 'Month 2' }}</th>
                <th class="align-middle">{{ monthNames[2] || 'Month 3' }}</th>
                <th class="align-middle">{{ monthNames[0] || 'Month 1' }}</th>
                <th class="align-middle">{{ monthNames[1] || 'Month 2' }}</th>
                <th class="align-middle">{{ monthNames[2] || 'Month 3' }}</th>
                <th class="align-middle">{{ monthNames[0] || 'Month 1' }}</th>
                <th class="align-middle">{{ monthNames[1] || 'Month 2' }}</th>
                <th class="align-middle">{{ monthNames[2] || 'Month 3' }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let mo of detailMarketingOrder; let i = index" align="center">
                <td>{{ i + 1 }}</td>
                <td>{{ mo.category }}</td>
                <td>{{ mo.partNumber }}</td>
                <td>{{ mo.description }}</td>
                <td>{{ mo.machineType }}</td>
                <td>{{ mo.capacity | number : '1.0-0' }}</td>
                <td>{{ mo.qtyPerMould | number : '1.0-0' }}</td>
                <td>{{ mo.qtyPerRak | number : '1.0-0' }}</td>
                <td>{{ mo.minOrder | number : '1.0-0' }}</td>
                <td>{{ mo.maxCapMonth0 | number : '1.0-0' }}</td>
                <td>{{ mo.maxCapMonth1 | number : '1.0-0' }}</td>
                <td>{{ mo.maxCapMonth2 | number : '1.0-0' }}</td>
                <td>
                  <input type="number" class="form-control" [(ngModel)]="mo.initialStock" />
                </td>
                <td>
                  <input type="number" class="form-control" [ngClass]="{ 'is-invalid': (mo.sfMonth0 < mo.minOrder || mo.sfMonth0 > mo.maxCapMonth0) && mo.sfMonth0 !== null && mo.sfMonth0 !== undefined }" [(ngModel)]="mo.sfMonth0" />
                  <!-- <div *ngIf="mo.sfMonth0 < mo.minOrder" class="invalid-feedback" style="display: block">Invalid column.</div> -->
                </td>
                <td>
                  <input type="number" class="form-control" [ngClass]="{ 'is-invalid': (mo.sfMonth1 < mo.minOrder || mo.sfMonth1 > mo.maxCapMonth1) && mo.sfMonth1 !== null && mo.sfMonth1 !== undefined }" [(ngModel)]="mo.sfMonth1" />
                </td>
                <td>
                  <input type="number" class="form-control" [ngClass]="{ 'is-invalid': (mo.sfMonth2 < mo.minOrder || mo.sfMonth2 > mo.maxCapMonth2) && mo.sfMonth2 !== null && mo.sfMonth2 !== undefined }" [(ngModel)]="mo.sfMonth2" />
                </td>
                <td>
                  <input type="number" class="form-control" [ngClass]="{ 'is-invalid': (mo.moMonth0 < mo.minOrder || mo.moMonth0 > mo.maxCapMonth0) && mo.moMonth0 !== null && mo.moMonth0 !== undefined }" [(ngModel)]="mo.moMonth0" />
                </td>
                <td>
                  <input type="number" class="form-control" [ngClass]="{ 'is-invalid': (mo.moMonth1 < mo.minOrder || mo.moMonth1 > mo.maxCapMonth1) && mo.moMonth1 !== null && mo.moMonth1 !== undefined }" [(ngModel)]="mo.moMonth1" />
                </td>
                <td>
                  <input type="number" class="form-control" [ngClass]="{ 'is-invalid': (mo.moMonth2 < mo.minOrder || mo.moMonth2 > mo.maxCapMonth2) && mo.moMonth2 !== null && mo.moMonth2 !== undefined }" [(ngModel)]="mo.moMonth2" />
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-12 pb-4">
    <button (click)="navigateToViewMo()" class="btn btn-primary justify-content-start mr-2">Back</button>
    <button (click)="editMo()" type="submit" class="btn btn-success">Edit</button>
  </div>

  <!-- Modal for Upload Excel -->
  <div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="uploadModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="uploadModalLabel">Upload Excel File</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="uploadForm">
            <!-- Manual File Input -->
            <div class="form-group mt-3">
              <input type="file" class="form-control-file" id="manualFileInput" accept=".xls,.xlsx" (change)="onFileChange($event)" />
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-md btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-md btn-primary" data-dismiss="modal" id="uploadButton" (click)="uploadFileExcel()">Upload</button>
        </div>
      </div>
    </div>
  </div>
</div>
