<div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <strong><i class="fa fa-bars"></i>&nbsp;Data CT Curing</strong>
      </div>
  
      <div class="card-body">
        <!-- Wrapper for the input and buttons in one row -->
        <div class="d-flex justify-content-between mb-3">
          <div class="d-flex align-items-center">
            <input type="text" class="form-control col-md-12 col-lg-12" [(ngModel)]="searchText" (input)="onSearchChange()" placeholder="Find here..." />
            <button type="submit" class="btn btn-primary ml-2" (click)="resetSearch()">Reset</button>
          </div>
  
          <!-- Right side: Download Template and Export Excel buttons -->
          <div>
            <button type="button" class="btn btn-primary ml-2" (click)="downloadTemplate()"><i class="fa fa-download fa-lg"></i> Download Template</button>
            <button type="button" class="btn btn-success ml-2" data-toggle="modal" data-target="#uploadModal"><i class="fa fa-file-excel-o fa-lg"></i> Upload Excel</button>
          </div>
        </div>
        <div class="table-responsive">
            <!-- Table -->
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>No</th>
                    <th>CT Curing ID</th>
                    <th>WIP</th>
                    <th>Description</th>
                    <th>Group Counter</th>
                    <th>Var Group Counter</th>
                    <th>Sequence</th>
                    <th>WCT</th>
                    <th>Operation Short Text</th>
                    <th>Operation Unit</th>
                    <th>Base Quantity</th>
                    <th>Standard Value Unit</th>
                    <th>CT Sec 1</th>
                    <th>CT HR 1000</th>
                    <th>WH Normal Shift 0</th>
                    <th>WH Normal Shift 1</th>
                    <th>WH Normal Shift 2</th>
                    <th>WH Shift FRIDAY</th>
                    <th>WH Total Normal Shift</th>
                    <th>WH Total Shift FRIDAY</th>
                    <th>Allow Normal Shift 0</th>
                    <th>Allow Normal Shift 1</th>
                    <th>Allow Normal Shift 2</th>
                    <th>Allow Total</th>
                    <th>OP Time Normal Shift 0</th>
                    <th>OP Time Normal Shift 1</th>
                    <th>OP Time Normal Shift 2</th>
                    <th>OP Time Shift FRIDAY</th>
                    <th>OP Time Total Normal Shift</th>
                    <th>OP Time Total Shift FRIDAY</th>
                    <th>Kaps Normal Shift 0</th>
                    <th>Kaps Normal Shift 1</th>
                    <th>Kaps Normal Shift 2</th>
                    <th>Kaps Shift FRIDAY</th>
                    <th>Kaps Total Normal Shift</th>
                    <th>Kaps Total Shift FRIDAY</th>
                    <th>Waktu Total CT Normal</th>
                    <th>Waktu Total CT FRIDAY</th>
                    <th>Status</th>

                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let ctcuring of pageOfItems; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ ctcuring.ct_CURING_ID }}</td>
                    <td>{{ ctcuring.wip }}</td>
                    <td>{{ ctcuring.description }}</td>
                    <td>{{ ctcuring.group_COUNTER }}</td>
                    <td>{{ ctcuring.var_GROUP_COUNTER }}</td>
                    <td>{{ ctcuring.sequence }}</td>
                    <td>{{ ctcuring.wct }}</td>
                    <td>{{ ctcuring.operation_SHORT_TEXT }}</td>
                    <td>{{ ctcuring.operation_UNIT }}</td>
                    <td>{{ ctcuring.base_QUANTITY }}</td>
                    <td>{{ ctcuring.standart_VALUE_UNIT }}</td>
                    <td>{{ ctcuring.ct_SEC1 }}</td>
                    <td>{{ ctcuring.ct_HR1000 }}</td>
                    <td>{{ ctcuring.wh_NORMAL_SHIFT_0 }}</td>
                    <td>{{ ctcuring.wh_NORMAL_SHIFT_1 }}</td>
                    <td>{{ ctcuring.wh_NORMAL_SHIFT_2 }}</td>
                    <td>{{ ctcuring.wh_SHIFT_FRIDAY }}</td>
                    <td>{{ ctcuring.wh_TOTAL_NORMAL_SHIFT }}</td>
                    <td>{{ ctcuring.wh_TOTAL_SHIFT_FRIDAY }}</td>
                    <td>{{ ctcuring.allow_NORMAL_SHIFT_0 }}</td>
                    <td>{{ ctcuring.allow_NORMAL_SHIFT_1 }}</td>
                    <td>{{ ctcuring.allow_NORMAL_SHIFT_2 }}</td>
                    <td>{{ ctcuring.allow_TOTAL }}</td>
                    <td>{{ ctcuring.op_TIME_NORMAL_SHIFT_0 }}</td>
                    <td>{{ ctcuring.op_TIME_NORMAL_SHIFT_1 }}</td>
                    <td>{{ ctcuring.op_TIME_NORMAL_SHIFT_2 }}</td>
                    <td>{{ ctcuring.op_TIME_SHIFT_FRIDAY }}</td>
                    <td>{{ ctcuring.op_TIME_TOTAL_NORMAL_SHIFT }}</td>
                    <td>{{ ctcuring.op_TIME_TOTAL_SHIFT_FRIDAY }}</td>
                    <td>{{ ctcuring.kaps_NORMAL_SHIFT_0 }}</td>
                    <td>{{ ctcuring.kaps_NORMAL_SHIFT_1 }}</td>
                    <td>{{ ctcuring.kaps_NORMAL_SHIFT_2 }}</td>
                    <td>{{ ctcuring.kaps_SHIFT_FRIDAY }}</td>
                    <td>{{ ctcuring.kaps_TOTAL_NORMAL_SHIFT }}</td>
                    <td>{{ ctcuring.kaps_TOTAL_SHIFT_FRIDAY }}</td>
                    <td>{{ ctcuring.waktu_TOTAL_CT_NORMAL }}</td>
                    <td>{{ ctcuring.waktu_TOTAL_CT_FRIDAY }}</td>
                    <td>{{ ctcuring.status === 1 ? 'Active' : 'Deactive' }}</td>
                    <td>
                    <button type="button" class="btn btn-md btn-secondary" (click)="openModalEdit(ctcuring.ct_CURING_ID)">Update</button>
                    <button type="button" class="btn btn-md btn-danger ml-2" (click)="deleteData(ctcuring)">Delete</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- Pagination -->
        <nav>
          <ul class="pagination">
            <jw-pagination [items]="ctcurings" [pageSize]="pageSize" [maxPages]="totalPages" (changePage)="onChangePage($event)"> </jw-pagination>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  
  <!-- Modal edit -->
  <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addModalLabel">Edit CT Curing</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- Form with Reactive Forms -->
          <form [formGroup]="editCTCuringForm">
            <div class="form-group">
              <label for="wip">WIP</label>
              <input [(ngModel)]="edtCTCuringObject.wip" type="text" class="form-control" id="wip" formControlName="wip" [ngClass]="{ 'is-invalid': editCTCuringForm.get('wip').invalid && editCTCuringForm.get('wip').touched }" />
              <div *ngIf="editCTCuringForm.get('wip').invalid && editCTCuringForm.get('wip').touched" class="invalid-feedback">WIP is required.</div>

              <label for="description">Description</label>
              <input [(ngModel)]="edtCTCuringObject.description" type="text" class="form-control" id="description" formControlName="description" [ngClass]="{ 'is-invalid': editCTCuringForm.get('description').invalid && editCTCuringForm.get('description').touched }" />
              <div *ngIf="editCTCuringForm.get('description').invalid && editCTCuringForm.get('description').touched" class="invalid-feedback">Description is required.</div>

              <label for="groupcounter">Group Counter</label>
              <input [(ngModel)]="edtCTCuringObject.group_COUNTER" type="text" class="form-control" id="groupcounter" formControlName="groupcounter" [ngClass]="{ 'is-invalid': editCTCuringForm.get('groupcounter').invalid && editCTCuringForm.get('groupcounter').touched }" />
              <div *ngIf="editCTCuringForm.get('groupcounter').invalid && editCTCuringForm.get('groupcounter').touched" class="invalid-feedback">Group Counter is required.</div>

              <label for="vargroupcounter">Var Group Counter</label>
              <input [(ngModel)]="edtCTCuringObject.var_GROUP_COUNTER" type="text" class="form-control" id="vargroupcounter" formControlName="vargroupcounter" [ngClass]="{ 'is-invalid': editCTCuringForm.get('vargroupcounter').invalid && editCTCuringForm.get('vargroupcounter').touched }" />
              <div *ngIf="editCTCuringForm.get('vargroupcounter').invalid && editCTCuringForm.get('vargroupcounter').touched" class="invalid-feedback">Var Group Counter is required.</div>

              <label for="sequence">Sequence</label>
              <input [(ngModel)]="edtCTCuringObject.sequence" type="number" class="form-control" id="sequence" formControlName="sequence" [ngClass]="{ 'is-invalid': editCTCuringForm.get('sequence').invalid && editCTCuringForm.get('sequence').touched }" />
              <div *ngIf="editCTCuringForm.get('sequence').invalid && editCTCuringForm.get('sequence').touched" class="invalid-feedback">Sequence is required.</div>

              <label for="wct">WCT</label>
              <input [(ngModel)]="edtCTCuringObject.wct" type="text" class="form-control" id="wct" formControlName="wct" [ngClass]="{ 'is-invalid': editCTCuringForm.get('wct').invalid && editCTCuringForm.get('wct').touched }" />
              <div *ngIf="editCTCuringForm.get('wct').invalid && editCTCuringForm.get('wct').touched" class="invalid-feedback">WCT is required.</div>

              <label for="operationshorttext">Operation Short Text</label>
              <input [(ngModel)]="edtCTCuringObject.operation_SHORT_TEXT" type="text" class="form-control" id="operationshorttext" formControlName="operationshorttext" [ngClass]="{ 'is-invalid': editCTCuringForm.get('operationshorttext').invalid && editCTCuringForm.get('operationshorttext').touched }" />
              <div *ngIf="editCTCuringForm.get('operationshorttext').invalid && editCTCuringForm.get('operationshorttext').touched" class="invalid-feedback">Operation Short Text is required.</div>

              <label for="operationunit">Operation Unit</label>
              <input [(ngModel)]="edtCTCuringObject.operation_UNIT" type="text" class="form-control" id="operationunit" formControlName="operationunit" [ngClass]="{ 'is-invalid': editCTCuringForm.get('operationunit').invalid && editCTCuringForm.get('operationunit').touched }" />
              <div *ngIf="editCTCuringForm.get('operationunit').invalid && editCTCuringForm.get('operationunit').touched" class="invalid-feedback">Operation Unit is required.</div>

              <label for="basequantity">Base Quantity</label>
              <input [(ngModel)]="edtCTCuringObject.base_QUANTITY" type="number" class="form-control" id="basequantity" formControlName="basequantity" [ngClass]="{ 'is-invalid': editCTCuringForm.get('basequantity').invalid && editCTCuringForm.get('basequantity').touched }" />
              <div *ngIf="editCTCuringForm.get('basequantity').invalid && editCTCuringForm.get('basequantity').touched" class="invalid-feedback">Base Quantity is required.</div>

              <label for="standardvalueunit">Standard Value Unit</label>
              <input [(ngModel)]="edtCTCuringObject.standart_VALUE_UNIT" type="text" class="form-control" id="standardvalueunit" formControlName="standardvalueunit" [ngClass]="{ 'is-invalid': editCTCuringForm.get('standardvalueunit').invalid && editCTCuringForm.get('standardvalueunit').touched }" />
              <div *ngIf="editCTCuringForm.get('standardvalueunit').invalid && editCTCuringForm.get('standardvalueunit').touched" class="invalid-feedback">Standard Value Unit is required.</div>

              <label for="ctsec1">CT Sec 1</label>
              <input [(ngModel)]="edtCTCuringObject.ct_SEC1" type="number" class="form-control" id="ctsec1" formControlName="ctsec1" [ngClass]="{ 'is-invalid': editCTCuringForm.get('ctsec1').invalid && editCTCuringForm.get('ctsec1').touched }" />
              <div *ngIf="editCTCuringForm.get('ctsec1').invalid && editCTCuringForm.get('ctsec1').touched" class="invalid-feedback">CT Sec 1 is required.</div>

              <label for="cthr1000">CT HR 1000</label>
              <input [(ngModel)]="edtCTCuringObject.ct_HR1000" type="number" class="form-control" id="cthr1000" formControlName="cthr1000" [ngClass]="{ 'is-invalid': editCTCuringForm.get('cthr1000').invalid && editCTCuringForm.get('cthr1000').touched }" />
              <div *ngIf="editCTCuringForm.get('cthr1000').invalid && editCTCuringForm.get('cthr1000').touched" class="invalid-feedback">CT HR 1000 is required.</div>

              <label for="whnormalshift0">WH Normal Shift 0</label>
              <input [(ngModel)]="edtCTCuringObject.wh_NORMAL_SHIFT_0" type="number" class="form-control" id="whnormalshift0" formControlName="whnormalshift0" [ngClass]="{ 'is-invalid': editCTCuringForm.get('whnormalshift0').invalid && editCTCuringForm.get('whnormalshift0').touched }" />
              <div *ngIf="editCTCuringForm.get('whnormalshift0').invalid && editCTCuringForm.get('whnormalshift0').touched" class="invalid-feedback">WH Normal Shift 0 is required.</div>

              <label for="whnormalshift1">WH Normal Shift 1</label>
              <input [(ngModel)]="edtCTCuringObject.wh_NORMAL_SHIFT_1" type="number" class="form-control" id="whnormalshift1" formControlName="whnormalshift1" [ngClass]="{ 'is-invalid': editCTCuringForm.get('whnormalshift1').invalid && editCTCuringForm.get('whnormalshift1').touched }" />
              <div *ngIf="editCTCuringForm.get('whnormalshift1').invalid && editCTCuringForm.get('whnormalshift1').touched" class="invalid-feedback">WH Normal Shift 1 is required.</div>

              <label for="whnormalshift2">WH Normal Shift 2</label>
              <input [(ngModel)]="edtCTCuringObject.wh_NORMAL_SHIFT_2" type="number" class="form-control" id="whnormalshift2" formControlName="whnormalshift2" [ngClass]="{ 'is-invalid': editCTCuringForm.get('whnormalshift2').invalid && editCTCuringForm.get('whnormalshift2').touched }" />
              <div *ngIf="editCTCuringForm.get('whnormalshift2').invalid && editCTCuringForm.get('whnormalshift2').touched" class="invalid-feedback">WH Normal Shift 2 is required.</div>

              <label for="whshiftfriday">WH Shift Friday</label>
              <input [(ngModel)]="edtCTCuringObject.wh_SHIFT_FRIDAY" type="number" class="form-control" id="whshiftfriday" formControlName="whshiftfriday" [ngClass]="{ 'is-invalid': editCTCuringForm.get('whshiftfriday').invalid && editCTCuringForm.get('whshiftfriday').touched }" />
              <div *ngIf="editCTCuringForm.get('whshiftfriday').invalid && editCTCuringForm.get('whshiftfriday').touched" class="invalid-feedback">WH Shift Friday is required.</div>

              <label for="whtotalnormalshift">WH Total Normal Shift</label>
              <input [(ngModel)]="edtCTCuringObject.wh_TOTAL_NORMAL_SHIFT" type="number" class="form-control" id="whtotalnormalshift" formControlName="whtotalnormalshift" [ngClass]="{ 'is-invalid': editCTCuringForm.get('whtotalnormalshift').invalid && editCTCuringForm.get('whtotalnormalshift').touched }" />
              <div *ngIf="editCTCuringForm.get('whtotalnormalshift').invalid && editCTCuringForm.get('whtotalnormalshift').touched" class="invalid-feedback">WH Total Normal Shift is required.</div>

              <label for="whtotalshiftfriday">WH Total Shift Friday</label>
              <input [(ngModel)]="edtCTCuringObject.wh_TOTAL_SHIFT_FRIDAY" type="number" class="form-control" id="whtotalshiftfriday" formControlName="whtotalshiftfriday" [ngClass]="{ 'is-invalid': editCTCuringForm.get('whtotalshiftfriday').invalid && editCTCuringForm.get('whtotalshiftfriday').touched }" />
              <div *ngIf="editCTCuringForm.get('whtotalshiftfriday').invalid && editCTCuringForm.get('whtotalshiftfriday').touched" class="invalid-feedback">WH Total Shift Friday is required.</div>

              <label for="allownormalshift0">Allow Normal Shift 0</label>
              <input [(ngModel)]="edtCTCuringObject.allow_NORMAL_SHIFT_0" type="number" class="form-control" id="allownormalshift0" formControlName="allownormalshift0" [ngClass]="{ 'is-invalid': editCTCuringForm.get('allownormalshift0').invalid && editCTCuringForm.get('allownormalshift0').touched }" />
              <div *ngIf="editCTCuringForm.get('allownormalshift0').invalid && editCTCuringForm.get('allownormalshift0').touched" class="invalid-feedback">Allow Normal Shift 0 is required.</div>

              <label for="allownormalshift1">Allow Normal Shift 1</label>
              <input [(ngModel)]="edtCTCuringObject.allow_NORMAL_SHIFT_1" type="number" class="form-control" id="allownormalshift1" formControlName="allownormalshift1" [ngClass]="{ 'is-invalid': editCTCuringForm.get('allownormalshift1').invalid && editCTCuringForm.get('allownormalshift1').touched }" />
              <div *ngIf="editCTCuringForm.get('allownormalshift1').invalid && editCTCuringForm.get('allownormalshift1').touched" class="invalid-feedback">Allow Normal Shift 1 is required.</div>

              <label for="allownormalshift2">Allow Normal Shift 2</label>
              <input [(ngModel)]="edtCTCuringObject.allow_NORMAL_SHIFT_2" type="number" class="form-control" id="allownormalshift2" formControlName="allownormalshift2" [ngClass]="{ 'is-invalid': editCTCuringForm.get('allownormalshift2').invalid && editCTCuringForm.get('allownormalshift2').touched }" />
              <div *ngIf="editCTCuringForm.get('allownormalshift2').invalid && editCTCuringForm.get('allownormalshift2').touched" class="invalid-feedback">Allow Normal Shift 2 is required.</div>

              <label for="allowtotal">Allow Total</label>
              <input [(ngModel)]="edtCTCuringObject.allow_TOTAL" type="number" class="form-control" id="allowtotal" formControlName="allowtotal" [ngClass]="{ 'is-invalid': editCTCuringForm.get('allowtotal').invalid && editCTCuringForm.get('allowtotal').touched }" />
              <div *ngIf="editCTCuringForm.get('allowtotal').invalid && editCTCuringForm.get('allowtotal').touched" class="invalid-feedback">Allow Total is required.</div>

              <label for="optimenormalshift0">OP Time Normal Shift 0</label>
              <input [(ngModel)]="edtCTCuringObject.op_TIME_NORMAL_SHIFT_0" type="number" class="form-control" id="optimenormalshift0" formControlName="optimenormalshift0" [ngClass]="{ 'is-invalid': editCTCuringForm.get('optimenormalshift0').invalid && editCTCuringForm.get('optimenormalshift0').touched }" />
              <div *ngIf="editCTCuringForm.get('optimenormalshift0').invalid && editCTCuringForm.get('optimenormalshift0').touched" class="invalid-feedback">OP Time Normal Shift 0 is required.</div>

              <label for="optimenormalshift1">OP Time Normal Shift 1</label>
              <input [(ngModel)]="edtCTCuringObject.op_TIME_NORMAL_SHIFT_1" type="number" class="form-control" id="optimenormalshift1" formControlName="optimenormalshift1" [ngClass]="{ 'is-invalid': editCTCuringForm.get('optimenormalshift1').invalid && editCTCuringForm.get('optimenormalshift1').touched }" />
              <div *ngIf="editCTCuringForm.get('optimenormalshift1').invalid && editCTCuringForm.get('optimenormalshift1').touched" class="invalid-feedback">OP Time Normal Shift 1 is required.</div>

              <label for="optimenormalshift2">OP Time Normal Shift 2</label>
              <input [(ngModel)]="edtCTCuringObject.op_TIME_NORMAL_SHIFT_2" type="number" class="form-control" id="optimenormalshift2" formControlName="optimenormalshift2" [ngClass]="{ 'is-invalid': editCTCuringForm.get('optimenormalshift2').invalid && editCTCuringForm.get('optimenormalshift2').touched }" />
              <div *ngIf="editCTCuringForm.get('optimenormalshift2').invalid && editCTCuringForm.get('optimenormalshift2').touched" class="invalid-feedback">OP Time Normal Shift 2 is required.</div>

              <label for="optimeshiftfriday">OP Time Shift Friday</label>
              <input [(ngModel)]="edtCTCuringObject.op_TIME_SHIFT_FRIDAY" type="number" class="form-control" id="optimeshiftfriday" formControlName="optimeshiftfriday" [ngClass]="{ 'is-invalid': editCTCuringForm.get('optimeshiftfriday').invalid && editCTCuringForm.get('optimeshiftfriday').touched }" />
              <div *ngIf="editCTCuringForm.get('optimeshiftfriday').invalid && editCTCuringForm.get('optimeshiftfriday').touched" class="invalid-feedback">OP Time Shift Friday is required.</div>

              <label for="optimenormalshift">OP Time Total Normal Shift</label>
              <input [(ngModel)]="edtCTCuringObject.op_TIME_TOTAL_NORMAL_SHIFT" type="number" class="form-control" id="optimenormalshift" formControlName="optimenormalshift" [ngClass]="{ 'is-invalid': editCTCuringForm.get('optimenormalshift').invalid && editCTCuringForm.get('optimenormalshift').touched }" />
              <div *ngIf="editCTCuringForm.get('optimenormalshift').invalid && editCTCuringForm.get('optimenormalshift').touched" class="invalid-feedback">OP Time Total Normal Shift is required.</div>

              <label for="optimetotalshiftfriday">OP Time Total Shift Friday</label>
              <input [(ngModel)]="edtCTCuringObject.op_TIME_TOTAL_SHIFT_FRIDAY" type="number" class="form-control" id="optimetotalshiftfriday" formControlName="optimetotalshiftfriday" [ngClass]="{ 'is-invalid': editCTCuringForm.get('optimetotalshiftfriday').invalid && editCTCuringForm.get('optimetotalshiftfriday').touched }" />
              <div *ngIf="editCTCuringForm.get('optimetotalshiftfriday').invalid && editCTCuringForm.get('optimetotalshiftfriday').touched" class="invalid-feedback">OP Time Total Shift Friday is required.</div>

              <label for="kapsnormalshift0">Kaps Normal Shift 0</label>
              <input [(ngModel)]="edtCTCuringObject.kaps_NORMAL_SHIFT_0" type="number" class="form-control" id="kapsnormalshift0" formControlName="kapsnormalshift0" [ngClass]="{ 'is-invalid': editCTCuringForm.get('kapsnormalshift0').invalid && editCTCuringForm.get('kapsnormalshift0').touched }" />
              <div *ngIf="editCTCuringForm.get('kapsnormalshift0').invalid && editCTCuringForm.get('kapsnormalshift0').touched" class="invalid-feedback">Kaps Normal Shift 0 is required.</div>
            
              <label for="kapsnormalshift1">Kaps Normal Shift 1</label>
              <input [(ngModel)]="edtCTCuringObject.kaps_NORMAL_SHIFT_1" type="number" class="form-control" id="kapsnormalshift1" formControlName="kapsnormalshift1" [ngClass]="{ 'is-invalid': editCTCuringForm.get('kapsnormalshift1').invalid && editCTCuringForm.get('kapsnormalshift1').touched }" />
              <div *ngIf="editCTCuringForm.get('kapsnormalshift1').invalid && editCTCuringForm.get('kapsnormalshift1').touched" class="invalid-feedback">Kaps Normal Shift 1 is required.</div>
            
              <label for="kapsnormalshift2">Kaps Normal Shift 2</label>
              <input [(ngModel)]="edtCTCuringObject.kaps_NORMAL_SHIFT_2" type="number" class="form-control" id="kapsnormalshift2" formControlName="kapsnormalshift2" [ngClass]="{ 'is-invalid': editCTCuringForm.get('kapsnormalshift2').invalid && editCTCuringForm.get('kapsnormalshift2').touched }" />
              <div *ngIf="editCTCuringForm.get('kapsnormalshift2').invalid && editCTCuringForm.get('kapsnormalshift2').touched" class="invalid-feedback">Kaps Normal Shift 2 is required.</div>
            
              <label for="kapsshiftfriday">Kaps Shift Friday</label>
              <input [(ngModel)]="edtCTCuringObject.kaps_SHIFT_FRIDAY" type="number" class="form-control" id="kapsshiftfriday" formControlName="kapsshiftfriday" [ngClass]="{ 'is-invalid': editCTCuringForm.get('kapsshiftfriday').invalid && editCTCuringForm.get('kapsshiftfriday').touched }" />
              <div *ngIf="editCTCuringForm.get('kapsshiftfriday').invalid && editCTCuringForm.get('kapsshiftfriday').touched" class="invalid-feedback">Kaps Shift Friday is required.</div>
            
              <label for="kapstotalnormalshift">Kaps Total Normal Shift</label>
              <input [(ngModel)]="edtCTCuringObject.kaps_TOTAL_NORMAL_SHIFT" type="number" class="form-control" id="kapstotalnormalshift" formControlName="kapstotalnormalshift" [ngClass]="{ 'is-invalid': editCTCuringForm.get('kapstotalnormalshift').invalid && editCTCuringForm.get('kapstotalnormalshift').touched }" />
              <div *ngIf="editCTCuringForm.get('kapstotalnormalshift').invalid && editCTCuringForm.get('kapstotalnormalshift').touched" class="invalid-feedback">Kaps Total Normal Shift is required.</div>
            
              <label for="kapstotalshiftfriday">Kaps Total Shift Friday</label>
              <input [(ngModel)]="edtCTCuringObject.kaps_TOTAL_SHIFT_FRIDAY" type="number" class="form-control" id="kapstotalshiftfriday" formControlName="kapstotalshiftfriday" [ngClass]="{ 'is-invalid': editCTCuringForm.get('kapstotalshiftfriday').invalid && editCTCuringForm.get('kapstotalshiftfriday').touched }" />
              <div *ngIf="editCTCuringForm.get('kapstotalshiftfriday').invalid && editCTCuringForm.get('kapstotalshiftfriday').touched" class="invalid-feedback">Kaps Total Shift Friday is required.</div>
            
              <label for="waktutotalctnormal">Waktu Total CT Normal</label>
              <input [(ngModel)]="edtCTCuringObject.waktu_TOTAL_CT_NORMAL" type="number" class="form-control" id="waktutotalctnormal" formControlName="waktutotalctnormal" [ngClass]="{ 'is-invalid': editCTCuringForm.get('waktutotalctnormal').invalid && editCTCuringForm.get('waktutotalctnormal').touched }" />
              <div *ngIf="editCTCuringForm.get('waktutotalctnormal').invalid && editCTCuringForm.get('waktutotalctnormal').touched" class="invalid-feedback">Waktu Total CT Normal is required.</div>
            
              <label for="waktutotalctfriday">Waktu Total CT Friday</label>
              <input [(ngModel)]="edtCTCuringObject.waktu_TOTAL_CT_FRIDAY" type="number" class="form-control" id="waktutotalctfriday" formControlName="waktutotalctfriday" [ngClass]="{ 'is-invalid': editCTCuringForm.get('waktutotalctfriday').invalid && editCTCuringForm.get('waktutotalctfriday').touched }" />
              <div *ngIf="editCTCuringForm.get('waktutotalctfriday').invalid && editCTCuringForm.get('waktutotalctfriday').touched" class="invalid-feedback">Waktu Total CT Friday is required.</div>
            
            </div>
                        
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <!-- Disable Update button if form is invalid -->
          <button type="button" class="btn btn-primary" [disabled]="editCTCuringForm.invalid" (click)="updateCTCuring()">Update CT Curing</button>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Modal for Upload Excel -->
  <div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="uploadModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="uploadModalLabel">Upload Excel File</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="uploadForm">
            <!-- Manual File Input -->
            <div class="form-group mt-3">
              <input type="file" class="form-control-file" id="manualFileInput" accept=".xls,.xlsx" (change)="onFileChange($event)" />
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-md btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-md btn-primary" id="uploadButton" (click)="uploadFileExcel()">Upload</button>
        </div>
      </div>
    </div>
  </div>
  