<div class="animated fadeIn">
  <!-- Name Header -->
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <strong>Add Header Marketing Order</strong>
      </div>
      <div class="card-body">
        <form [formGroup]="formHeaderMo" class="form form-horizontal">
          <div class="form-group row">
            <label class="col-md-3 col-form-label">Date</label>
            <div class="col-md-9">
              <input class="form-control" [ngClass]="{ 'is-invalid': formHeaderMo.get('date')?.invalid && formHeaderMo.get('date')?.touched }" type="date" formControlName="date" placeholder="date" />
              <div *ngIf="formHeaderMo.get('date')?.invalid && formHeaderMo.get('date')?.touched" class="invalid-feedback">Date is required.</div>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="select1">Type</label>
            <div class="col-md-9">
              <select id="type" formControlName="type" class="form-control" [ngClass]="{ 'is-invalid': formHeaderMo.get('type')?.invalid && formHeaderMo.get('type')?.touched }">
                <option value="" disabled selected>Please select</option>
                <option value="FDR">FDR</option>
                <option value="FED">FED</option>
              </select>
              <div *ngIf="formHeaderMo.get('type')?.invalid && formHeaderMo.get('type')?.touched" class="invalid-feedback">Type is required.</div>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="text-input">Revision</label>
            <div class="col-md-9">
              <input type="number" id="revision" formControlName="revision" class="form-control" [ngClass]="{ 'is-invalid': formHeaderMo.get('revision')?.invalid && formHeaderMo.get('revision')?.touched }" placeholder="1,2,3....." />
              <div *ngIf="formHeaderMo.get('revision')?.invalid && formHeaderMo.get('revision')?.touched" class="invalid-feedback">Revision is required.</div>
            </div>
          </div>

          <!-- Tabset -->
          <tabset>
            <tab heading="Month 1">
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="month-input">Month And Year</label>
                <div class="col-md-9">
                  <input class="form-control" formControlName="month_1" type="month" [formControl]="monthControl" (change)="onMonthChange($event, 1)" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Normal Working Day</label>
                <div class="col-md-9">
                  <input type="number" formControlName="nwd_1" name="text-input" class="form-control" placeholder="0,00" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">TL Overtime Working Day</label>
                <div class="col-md-9">
                  <input type="number" formControlName="tl_ot_wd_1" name="text-input" class="form-control" placeholder="0,00" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">TT Overtime Working Day</label>
                <div class="col-md-9">
                  <input type="number" formControlName="tt_ot_wd_1" name="text-input" class="form-control" placeholder="0,00" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Total TL Tire Working Day</label>
                <div class="col-md-9">
                  <input [disabled]="isDisable" formControlName="total_tlwd_1" type="number" name="text-input" class="form-control" placeholder="0,00" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Total TT Tire Working Day</label>
                <div class="col-md-9">
                  <input [disabled]="isDisable" formControlName="total_ttwd_1" type="number" name="text-input" class="form-control" placeholder="0,00" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Maximum Tube Capacity</label>
                <div class="col-md-9">
                  <input type="number" formControlName="max_tube_capa_1" name="text-input" class="form-control" placeholder="0,00" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Maximum Capacity Tire TL</label>
                <div class="col-md-9">
                  <input type="number" formControlName="max_capa_tl_1" name="text-input" class="form-control" placeholder="0,00" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Maximum Capacity Tire TT</label>
                <div class="col-md-9">
                  <input type="number" formControlName="max_capa_tt_1" name="text-input" class="form-control" placeholder="0,00" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Looping</label>
                <div class="col-md-9">
                  <input type="number" formControlName="looping_1" name="text-input" class="form-control" placeholder="0,00" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Airbag Machine</label>
                <div class="col-md-9">
                  <input type="number" formControlName="m_airbag_1" name="text-input" class="form-control" placeholder="0,00" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">FDR TR TL</label>
                <div class="col-md-9">
                  <input type="number" formControlName="fdr_tl_1" name="text-input" class="form-control" placeholder="0,00" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">FDR TR TT</label>
                <div class="col-md-9">
                  <input type="number" formControlName="fdr_tt_1" name="text-input" class="form-control" placeholder="0,00" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Total Marketing Order</label>
                <div class="col-md-9">
                  <input type="number" formControlName="total_mo_1" name="text-input" class="form-control" placeholder="0,00" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">% FDR TL</label>
                <div class="col-md-9">
                  <input type="number" formControlName="p_fdr_tl_1" name="text-input" class="form-control" placeholder="0,00" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">% FDR TT</label>
                <div class="col-md-9">
                  <input type="number" formControlName="p_fdr_tt_1" name="text-input" class="form-control" placeholder="0,00" />
                </div>
              </div>
            </tab>
            <tab heading="Month 2">
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="month-input">Month And Year</label>
                <div class="col-md-9">
                  <input class="form-control" formControlName="month_2" type="month" [formControl]="monthControl2" (change)="onMonthChange($event, 2)" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Normal Working Day</label>
                <div class="col-md-9">
                  <input type="number" formControlName="nwd_2" name="text-input" class="form-control" placeholder="0,00" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">TL Overtime Working Day</label>
                <div class="col-md-9">
                  <input type="number" formControlName="tl_ot_wd_2" name="text-input" class="form-control" placeholder="0,00" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">TT Overtime Working Day</label>
                <div class="col-md-9">
                  <input type="number" formControlName="tt_ot_wd_2" name="text-input" class="form-control" placeholder="0,00" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Total TL Tire Working Day</label>
                <div class="col-md-9">
                  <input [disabled]="isDisable" formControlName="total_tlwd_2" type="number" name="text-input" class="form-control" placeholder="0,00" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Total TT Tire Working Day</label>
                <div class="col-md-9">
                  <input [disabled]="isDisable" formControlName="total_ttwd_2" type="number" name="text-input" class="form-control" placeholder="0,00" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Maximum Tube Capacity</label>
                <div class="col-md-9">
                  <input type="number" formControlName="max_tube_capa_2" name="text-input" class="form-control" placeholder="0,00" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Maximum Capacity Tire TL</label>
                <div class="col-md-9">
                  <input type="number" formControlName="max_capa_tl_2" name="text-input" class="form-control" placeholder="0,00" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Maximum Capacity Tire TT</label>
                <div class="col-md-9">
                  <input type="number" formControlName="max_capa_tt_2" name="text-input" class="form-control" placeholder="0,00" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Looping</label>
                <div class="col-md-9">
                  <input type="number" formControlName="looping_2" name="text-input" class="form-control" placeholder="0,00" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Airbag Machine</label>
                <div class="col-md-9">
                  <input type="number" formControlName="m_airbag_2" name="text-input" class="form-control" placeholder="0,00" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">FDR TR TL</label>
                <div class="col-md-9">
                  <input type="number" formControlName="fdr_tl_2" name="text-input" class="form-control" placeholder="0,00" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">FDR TR TT</label>
                <div class="col-md-9">
                  <input type="number" formControlName="fdr_tt_2" name="text-input" class="form-control" placeholder="0,00" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Total Marketing Order</label>
                <div class="col-md-9">
                  <input type="number" formControlName="total_mo_2" name="text-input" class="form-control" placeholder="0,00" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">% FDR TL</label>
                <div class="col-md-9">
                  <input type="number" formControlName="p_fdr_tl_2" name="text-input" class="form-control" placeholder="0,00" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">% FDR TT</label>
                <div class="col-md-9">
                  <input type="number" formControlName="p_fdr_tt_2" name="text-input" class="form-control" placeholder="0,00" />
                </div>
              </div>
            </tab>
            <tab heading="Month 3">
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="month-input">Month And Year</label>
                <div class="col-md-9">
                  <input class="form-control" formControlName="month_3" type="month" [formControl]="monthControl3" (change)="onMonthChange($event, 3)" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Normal Working Day</label>
                <div class="col-md-9">
                  <input type="number" formControlName="nwd_3" name="text-input" class="form-control" placeholder="0,00" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">TL Overtime Working Day</label>
                <div class="col-md-9">
                  <input type="number" formControlName="tl_ot_wd_3" name="text-input" class="form-control" placeholder="0,00" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">TT Overtime Working Day</label>
                <div class="col-md-9">
                  <input type="number" formControlName="tt_ot_wd_3" name="text-input" class="form-control" placeholder="0,00" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Total TL Tire Working Day</label>
                <div class="col-md-9">
                  <input [disabled]="isDisable" formControlName="total_tlwd_3" type="number" name="text-input" class="form-control" placeholder="0,00" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Total TT Tire Working Day</label>
                <div class="col-md-9">
                  <input [disabled]="isDisable" formControlName="total_ttwd_3" type="number" name="text-input" class="form-control" placeholder="0,00" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Maximum Tube Capacity</label>
                <div class="col-md-9">
                  <input type="number" formControlName="max_tube_capa_3" name="text-input" class="form-control" placeholder="0,00" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Maximum Capacity Tire TL</label>
                <div class="col-md-9">
                  <input type="number" formControlName="max_capa_tl_3" name="text-input" class="form-control" placeholder="0,00" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Maximum Capacity Tire TT</label>
                <div class="col-md-9">
                  <input type="number" formControlName="max_capa_tt_3" name="text-input" class="form-control" placeholder="0,00" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Looping</label>
                <div class="col-md-9">
                  <input type="number" formControlName="looping_3" name="text-input" class="form-control" placeholder="0,00" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Airbag Machine</label>
                <div class="col-md-9">
                  <input type="number" formControlName="m_airbag_3" name="text-input" class="form-control" placeholder="0,00" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">FDR TR TL</label>
                <div class="col-md-9">
                  <input type="number" formControlName="fdr_tl_3" name="text-input" class="form-control" placeholder="0,00" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">FDR TR TT</label>
                <div class="col-md-9">
                  <input type="number" formControlName="fdr_tt_3" name="text-input" class="form-control" placeholder="0,00" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Total Marketing Order</label>
                <div class="col-md-9">
                  <input type="number" formControlName="total_mo_3" name="text-input" class="form-control" placeholder="0,00" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">% FDR TL</label>
                <div class="col-md-9">
                  <input type="number" formControlName="p_fdr_tl_3" name="text-input" class="form-control" placeholder="0,00" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">% FDR TT</label>
                <div class="col-md-9">
                  <input type="number" formControlName="p_fdr_tt_3" name="text-input" class="form-control" placeholder="0,00" />
                </div>
              </div>
            </tab>
          </tabset>
        </form>
      </div>
      <div class="col-md-12 d-flex justify-content-end pb-4">
        <button (click)="saveHeaderMo()" type="submit" class="btn btn-success"><i class="fa fa-save"></i> Save</button>
      </div>
    </div>
  </div>

  <div class="col-md-12 pb-4">
    <button (click)="navigateToViewMo()" class="btn btn-primary justify-content-start mr-2">Kembali</button>
    <button type="submit" class="btn btn-success">Submit</button>
  </div>
</div>
