<div class="animated fadeIn">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <strong>Add Header Monthly Planning Bulan 1</strong>
            </div>
            <div class="card-body">
                <form id="bulan-1" action="" class="form form-horizontal">
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="date-input">Date Input</label>
                        <div class="col-md-9">
                          <input class="form-control" id="bulan-1" type="date" name="date-input" placeholder="date">
                        </div>
                      </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="text-input">Hari Kerja Normal</label>
                        <div class="col-md-9">
                          <input type="number" id="hkn-1" name="text-input" class="form-control" placeholder="0,00">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="text-input">Hari Kerja Overtime TL</label>
                        <div class="col-md-9">
                          <input type="number" id="hkn-1" name="text-input" class="form-control" placeholder="0,00">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="text-input">Hari Kerja Overtime TT</label>
                        <div class="col-md-9">
                          <input type="number" id="hkn-1" name="text-input" class="form-control" placeholder="0,00">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="text-input">Total Hari Kerja Tire TL</label>
                        <div class="col-md-9">
                          <input [disabled]="isDisable" type="number" id="hkn-1" name="text-input" class="form-control" placeholder="0,00">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="text-input">Total Hari Kerja Tire TT</label>
                        <div class="col-md-9">
                          <input [disabled]="isDisable" type="number" id="hkn-1" name="text-input" class="form-control" placeholder="0,00">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="text-input">Kapasitas MaksTube</label>
                        <div class="col-md-9">
                          <input type="number" id="hkn-1" name="text-input" class="form-control" placeholder="0,00">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="text-input">Kapasitas Maks Tire TL</label>
                        <div class="col-md-9">
                          <input type="number" id="hkn-1" name="text-input" class="form-control" placeholder="0,00">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="text-input">Kapasitas Maks Tire TT</label>
                        <div class="col-md-9">
                          <input type="number" id="hkn-1" name="text-input" class="form-control" placeholder="0,00">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="text-input">Looping</label>
                        <div class="col-md-9">
                          <input type="number" id="hkn-1" name="text-input" class="form-control" placeholder="0,00">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="text-input">Mesin Airbag</label>
                        <div class="col-md-9">
                          <input type="number" id="hkn-1" name="text-input" class="form-control" placeholder="0,00">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="text-input">FDR TR TL</label>
                        <div class="col-md-9">
                          <input type="number" id="hkn-1" name="text-input" class="form-control" placeholder="0,00">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="text-input">FDR TR TT</label>
                        <div class="col-md-9">
                          <input type="number" id="hkn-1" name="text-input" class="form-control" placeholder="0,00">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="text-input">Total Marketing Order</label>
                        <div class="col-md-9">
                          <input type="number" id="hkn-1" name="text-input" class="form-control" placeholder="0,00">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="text-input">% FDR TL</label>
                        <div class="col-md-9">
                          <input type="number" id="hkn-1" name="text-input" class="form-control" placeholder="0,00">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="text-input">% FDR TT</label>
                        <div class="col-md-9">
                          <input type="number" id="hkn-1" name="text-input" class="form-control" placeholder="0,00">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <strong>Add Monthly Planning</strong>
            </div>
            <div class="card-body d-flex justify-content-end">
                <button class="btn btn-primary" id="addRow">Add Row</button>
            </div>
        </div>
    </div>


</div>
